<extend name="Web/projectDefault" />
<block name="css_files">
<php>
//echo('<pre>');
//var_dump($list);exit;
</php>
</block>
<block name="content">
  <div id="kbVipAdmin_rightCenter" class="spAnProductClass ">
    <div class="centerTitle">
      <h2>现金卡</h2>
    </div>
    <div class="kbVipAdmin_operating spAnProductClass-operating" >

        <a href="{{:U('RechargeCard/cardAdd',['module' => $_GET['module']])}}" class="kbVipAdmin_opt kbVipAdmin_add copyButton-default w80 "  > 添加</a>
    </div>
  
  <div class="main-contentBox  kbVipAdmin_mt24" >
    <div class="kbVipAdmin_table">
      <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>添加时间</th>
                <th>金额</th>
                <th>赠送金额</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>数量</th>
                <th>已用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
          <foreach name="list" item="vo">
            <tr>
                <td>{{$vo.card_id}}</td>
                <td>{{:date('Y-m-d H:i:s',$vo['create_time'])}}</td>
                <td>{{$vo.money}}</td>
                <td>{{$vo.presenter_money}}</td>
                <td>{{:date('Y-m-d H:i:s',$vo['start_time'])}}</td>
                <td>{{:date('Y-m-d H:i:s',$vo['end_time'])}}</td>
                <td>{{$vo.card_total}}</td>
                <td>{{$vo.use_sum}}</td>
                <td class="kbVipAdmin_tdAction">
                   <a href="{{:U('RechargeCard/not_use_card_info',['module' => $_GET['module']])}}?card_id={{$vo['card_id']}}" class="kb_btn kb_btnPlain-default mb10">未使用情况</a>
                  
                   <a href="{{:U('RechargeCard/used_card_info',['module' => $_GET['module']])}}?card_id={{$vo['card_id']}}" class="kb_btn kb_btnPlain-default">使用情况</a>
                </td>
            </tr>
          </foreach>
        </tbody>
    </table>
  </div>
        <!-- 分页位置 -->
    <div class="kbVipAdmin_page">
        <div class="pageSize">
           {{$page}}
        </div>
        <div class="pageJump">          
            <input class="w60  fl" type="text" value="" />
            <a class="fl" href="javascript:;">跳转</a>
        </div>
    </div>
    </div>
  </div>
</block>
<block name="js_files">

</block>