<extend name="Common/seconCom" />
<block name="css_files">
<link href="__PUBLIC__/trading/style/temporarily.css" rel="stylesheet"></link>
  <style>
    .kb_list-cell img{
      height: 86px;
    }
  </style>
  <php>
     // echo('<pre>');
     // var_dump($list);exit;
  </php>
</block>
<block name="title">
退款订单
</block>
<block name="leftNav">
  <if condition="$_GET['companyName'] AND $_GET['tem']" >
    <a href="http://{{$_SERVER['HTTP_HOST']}}/{{:I('get.tem')}}/VisitorInfo/myCenter?companyName={{:I('get.companyName')}}" class="icon-back w"></a>
  <else />
    <a href="{{:U('VisitorInfo/myCenter')}}" class="icon-back w"></a>
  </if>
</block>

<block name="content">
  <section id="Main" class="kb_main bc kb_notFooter  tg_orderlist">
   <volist name="list" id="v">
   <ul class="kb_list mt10">
          <if condition="$v['company_id']" > 
            <a class="kb_list-title kb_list-cell kb_list-cell_small kb_cell-href" href="http://{{$v.company_link}}">
          <else />
            <a class="kb_list-title kb_list-cell kb_list-cell_small kb_cell-href" href="http://{{$_SERVER['HTTP_HOST']}}">
          </if>
        <div class="kb_list-cell-hd ">
          <!-- 自营的图片路径 __PUBLIC__/trading/images/tr-Self-employed.png -->
          <if condition="$v['company_id']" > 
            <img src="__PUBLIC__/trading/images/tr-shop.png" alt="" />
          <else />
            <img src="__PUBLIC__/trading/images/tr-Self-employed.png" alt="" />
          </if>
        </div>
          <aside class="kb_list-cell-bd">
          <if condition="$v['company_id']" > 
            <h2 class="kb_list-cell-title">{{$v.company_name}}</h2>
          <else />
            <h2 class="kb_list-cell-title">{{$pInfo['market_name']}}</h2>
          </if>
        </aside>
        <p class="kb_cell-ft">
            
        </p>
      </a>
      <li class="kb_list-cells">
      <volist name="v.goods_data" id="vo" >
        <a href="{{:U('OrderForm/orderDetail')}}?id={{$v.id}}" class="kb_list-cell">  
            <div class="kb_list-cell-hd">
                <img src="__PUBLIC__{{$vo.attrInfo.attr_pic}}" alt="" />
            </div>
            <aside class="kb_list-cell-bd">
                <h2 class="kb_list-cell-title mb10">{{$vo.goods_name}} 
                <time class="kb_list-cell-title-time">
                <switch name="v.status" >
                  <case value="5">  待处理</case>
                  <case value="6">  已处理</case>
                  <case value="7">  已拒绝</case>
                </switch>
                </time></h2>
                <div class="kb_list-cell-brief">
                    <p class=" mb10">
                        产品规格: {{$vo.attrInfo.attr_val}}
                    </p>
                    <p class=" dl_bugShoping">
                       <em class="tg_ft-price">￥{{$vo.price}}元</em>
                       <em>x{{$vo.total}}</em>
                    </p>
                </div>
            </aside>
         </a>
      </volist>
         <p class="tr p10 fb">共{{$v.piece}}件&nbsp;&nbsp;实付金额：<em class="tg_ft-price">{{$v['total'] + $v['express_price']}}</em></p>
         <div class="dl_orderOptraing tg_cell pb10">

          <switch name="v.status" >
              <case value="0">  
                <if condition="($v['pay_status'] eq 0)" >
                  <if condition="((($v['create_time']+172800)-time()) gt 0)">
                    <p class="dl_orderOptraing-bd">
                      <input type="button" value="取消订单" data-orderID="{{$v.id}}" class="kb_btn  tg_btn-default w" @click="cancelOrder" />
                    </p>
                    <p class="dl_orderOptraing-bd">
                      <input type="button" value="支付" orderID="{{$v.id}}" v-on:click="pay" class="kb_btn kb_btn-main w" />
                    </p>
                  </if>
                </if>
              </case>
              <case value="2">
                <switch name="v.is_send_out" >
                  <case value="0">  
                      <p class="dl_orderOptraing-bd">
                        <input type="button" value="申请退款" orderID="{{$v.id}}" v-on:click="returnMoney" class="kb_btn  tg_btn-default w" />
                      </p>
                      <p class="dl_orderOptraing-bd">
                        <input type="button" value="提醒发货" class="kb_btn kb_btn-main w" />
                      </p>
                  </case>
                  <case value="1">  
                  
                    <!-- <a class="defineBtn  mr10  btnColorFFF" href="{{:U('Express/showExpressInfo', ['companyName' => $_GET['companyName'], 'id' => $v['id']])}}" >&nbsp;&nbsp;查看物流</a> -->
                      <p class="dl_orderOptraing-bd ">
                        <a type="button" value="查看物流" href="{{:U('Express/showExpressInfo')}}?id={{$v['id']}}" class="kb_btn  tg_btn-default w " >查看物流</a>
                      </p>
                      <p class="dl_orderOptraing-bd">
                        <input type="button" data-orderID="{{$v.id}}" v-on:click="affirmGoods" type="button" value="确认收货" class="kb_btn kb_btn-main w" />
                      </p>
                  
                  </case>
                  <case value="2">  
                    <p class="dl_orderOptraing-bd">
                      <a type="button" href="{{:U('GoodsComment/commentIns')}}?id={{$v['id']}}" class="kb_btn  tg_btn-default w" >去评价</a>
                    </p>
                  </case>
                </switch>
              </case>
              <case value="4">
                <if condition="($v['goods_score'] eq 0) AND ($v['express_score'] eq 0)">
                  <p class="dl_orderOptraing-bd">
                    <a type="button" href="{{:U('GoodsComment/commentIns')}}?id={{$v['id']}}" class="kb_btn  tg_btn-default w" >去评价</a>
                  </p>
                </if>
              </case>
            </switch>
         </div>
      </li>
        
    </ul>
    </volist>
    <if condition="($list) AND (count($list) gt 5)">
          <li is="myTemlate"  v-bind:Phrase="indexs" v-for="indexs in info" >
            </li>
          <p id="lookMore" class="lookMore tc pt10 pb10 f14"><a href="javascript:;">查看更多</a></p>
        </if>
  </section>
</block>
<block name="js_files">
  <script id="orderListTem" type="text/x-handlebars-template">
    <ul class="kb_list mt10">
      <a v-bind:href="Phrase.company_id>0?'http://'+Phrase.company_link:'http://{{$_SERVER['HTTP_HOST']}}'" class="kb_list-title kb_list-cell kb_list-cell_small kb_cell-href">
        <div class="kb_list-cell-hd ">
          <img v-bind:src="Phrase.company_id>0?'__PUBLIC__/trading/images/tr-shop.png':'__PUBLIC__/trading/images/tr-Self-employed.png'" alt="" />
        </div>
          <aside class="kb_list-cell-bd">
            <h2 class="kb_list-cell-title">
              {{Phrase.company_id>0? Phrase.company_name:'{{$pInfo['market_name']}}'}}
            </h2>
        </aside>
        <p class="kb_cell-ft">
            
        </p>
      </a>
      <li class="kb_list-cells">
      <template v-for="goodsIndex in Phrase.goods_data">
        <a v-bind:href="goodsIndex.link" class="kb_list-cell">  
          <div class="kb_list-cell-hd">
              <img v-bind:src="'__PUBLIC__'+goodsIndex.attrInfo.attr_pic" alt="" />
          </div>
          <aside class="kb_list-cell-bd">
              <h2 class="kb_list-cell-title mb10">{{goodsIndex.goods_name}} 
                
                <time class="kb_list-cell-title-time" >
                 {{Phrase.refund_remark}}  
                </time>
              </h2>
              <div class="kb_list-cell-brief">
                  <p class=" mb10">
                      {{goodsIndex.attrInfo.attr_val}}
                  </p>
                  <p class=" dl_bugShoping">
                     <em class="tg_ft-price">￥{{goodsIndex.price}}元</em>
                     <em>x{{goodsIndex.total}}</em>
                  </p>
              </div>
          </aside>
        </a>
      </template>
        
         <p class="tr p10 fb">共{{Phrase.piece}}件&nbsp;&nbsp;实付金额：<em class="tg_ft-price mark-totalPrice">{{(parseInt(Phrase.total) + parseInt(Phrase.express_price)).toFixed(2)}}</em></p>

         <div 
             v-if="Phrase.status==0"
            class="dl_orderOptraing tg_cell pb10" 
          >
            <template v-if="Phrase.pay_status==0">
              <template v-if="eqTime(Phrase.create_time)" >
                <p class="dl_orderOptraing-bd">
                  <input type="button" value="取消订单" class="kb_btn  tg_btn-default w"
                  v-bind:data-orderID="Phrase.id"
                  />
                </p>
                <p class="dl_orderOptraing-bd">
                  <input  class="kb_btn  kb_btn-main w pay"  type="button" value="支付"
                  v-on:click="sltPay" v-bind:orderID="Phrase.id"
                  />
                </p>
              </template>
              <template v-else>
                <p class="dl_orderOptraing-bd">
                  <input type="button" value="订单关闭" class="kb_btn  tg_btn-default w"
                  />
                </p>
              </template>
          </template>
        </div>
        <div v-else-if="Phrase.status==1" 
          class="dl_orderOptraing tg_cell pb10" >
          <p class="dl_orderOptraing-bd">
             <input type="button" value="已取消" class="kb_btn  tg_btn-default w"
                  />
          </p>
        </div>
        <div v-else-if="Phrase.status==2"
          class="dl_orderOptraing tg_cell pb10"
        >
          <template v-if="Phrase.is_send_out==0">
          <p class="dl_orderOptraing-bd">
            <input  type="button" value="申请退款"  class="kb_btn tg_btn-default returnMoney " 
            v-on:click="returnMoney" v-bind:orderID="Phrase.id"  v-bind:data-orderID="Phrase.id" 
            />
          </p>
          <!-- <p class="dl_orderOptraing-bd">
            <input class="kb_btn  tg_btn-default w" type="button" value="待发货" />
          </p>
 -->
          </template>
          <template v-else-if="Phrase.is_send_out==1">
          
          <p class="dl_orderOptraing-bd">
            <input  type="button" value="延长收货" class="kb_btn kb_btn-main w" 
            v-bind:data-orderID="Phrase.id" v-on:click="extendTimeGoods(Phrase.id)"
             />
          </p>
          <p class="dl_orderOptraing-bd">
            <a  
            v-bind:href="jumpUrl('expressInfo',Phrase.id)"
            class="kb_btn  tg_btn-default w " >查看物流</a>
          </p>
          <p class="dl_orderOptraing-bd">
            <input 
             v-bind:data-orderID="Phrase.id" v-on:click="affirmGoods" type="button" value="确认收货" class="kb_btn kb_btn-main w" />
          </p>
           <p class="dl_orderOptraing-bd">
            <input 
             v-bind:data-orderID="Phrase.id"  
             v-on:click="returnMoney" v-bind:orderID="Phrase.id"
             type="button" value="申请退款" 
              class="kb_btn kb_btn-default w" />
          </p>
          </template>
          <template v-else-if="Phrase.is_send_out==2">
          <p class="dl_orderOptraing-bd">
            <a  
            v-bind:href="jumpUrl('evaluate',Phrase.id)"
            class="kb_btn  tg_btn-default w " >去评价</a>
          </p>
          </template>
        </div>

        <div v-else-if="Phrase.status==3" v-bind:data-true="eqTime(Phrase.create_time)">
          <p class="dl_orderOptraing-bd">
            <input class="kb_btn  tg_btn-default w "  type="button" value="已关闭" />
          </p>
        </div>
       <div v-else-if="Phrase.status==4">
            <template v-if="Phrase.goods_score=0">
             <p class="dl_orderOptraing-bd">
              <a class="kb_btn  tg_btn-default w" v-bind:href="jumpUrl('evaluate',Phrase.id)" >去评价</a>
             </p>
            </template>

            <template v-else>
            <p class="dl_orderOptraing-bd">
              <input class="kb_btn  tg_btn-default w" type="button" value="已完成" />
            </p>
            </template>
          </div>
      </li>
    </ul>
  </script>
  
  <script>

      function onBridgeReady(info,id){

       var data = JSON.parse(info);
      // console.log(data);
      // console.log(id);
        WeixinJSBridge.invoke(
           'getBrandWCPayRequest', {
              "appId":data.appId,
              "timeStamp":data.timeStamp,
              "nonceStr":data.nonceStr,
              "package":data.package,
              "signType":data.signType,
              "paySign":data.paySign
            },
            function(res){     
                if(res.err_msg == "get_brand_wcpay_request:ok" ) {// 支付成功走这
                  WeixinJSBridge.log(res.err_msg);
                  $.get("{{:U('ajaxControl')}}",{flag:'selOrderStatus',id:id},function (result) {
                        if(result){
                          window.location.href='http://{{$_SERVER["HTTP_HOST"]}}{{:U("OrderForm/payed")}}?order_id='+id;
                        }else{
                          alert('订单支付失败!');
                        }
                    });
                }else{
                  // alert(1);
                  window.location.href='http://{{$_SERVER["HTTP_HOST"]}}{{:U("OrderForm/orderList")}}?show=1';
                } 
            }
       ); 
    }

    function showPay(pay,id) {
      if (typeof WeixinJSBridge == "undefined"){
         if( document.addEventListener ){
             document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
         }else if (document.attachEvent){
             document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
             document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
         }
      }else{
        // console.log(pay)
          onBridgeReady(pay,id);
      }
    }

    
   
$(function(){
      (function(){
        var Child={
          template:'#orderListTem',
          props: ['Phrase'],
          methods:{
            jumpUrl:function(uType,ID){
              switch(uType){
                case 'refundListDetail':
                  return "{{:U('refundListDetail', ['companyName' => $_GET['companyName']])}}?id="+ID+"&refund=1";
                break;
                case 'orderDetail':
                  return "{{:U('orderDetail', ['companyName' => $_GET['companyName']])}}?id="+ID;
                break;
              
              }
            }
          }
          
        }
        var app=new Vue({
          el:"#Main",
          components:{
            'myTemlate':Child
          },
          data:{
            info:[],
            clickTotal:2
          },
          computed:{
            
          },
          methods:{

          }

        })
        $("#lookMore").on('click',function(){
          var $this=$(this);
          $.get("{{:U('ajaxControl')}}",{
            show:"{{$_GET['show']}}",
            companyName:"{{$_GET['companyName']}}",
            p:app.clickTotal,
            flag:'orderList'
          },function(res){
            console.log(res);
            if(res){
              app.info=app.info.concat(res);
              app.clickTotal+=1;
              console.log(app.info);
            }else{
              $this.hide();
              oTip("没有更多了")
            }
          })
        })
      })();
      $('.addShopCarBtn').on('click',function(){
        $('.Popout').slideDown();
      });
      
      $('.pay').on('click',function(){
        var $this = $(this);
        $.get("{{:U('ajaxControl')}}",{flag:'createAdvance',id:$this.attr('orderID'),companyName:'{{$_GET["companyName"]}}'},function (result) {
          if(!result){
            alert('因库存不足或订单关闭原因, 交易已关闭');
          }else if(result == 2){
            alert('请设置好收货地址');
          }else{
            showPay(result);
          }
        })
      });
    })
  </script>
</block>
