<extend name="Common/seconCom" />
<block name="css_files">
<link href="__PUBLIC__/JS/module/ladingPasswordConfirm/passwordkeyboard.css" rel="stylesheet" type="text/css" ></link>
  <style>
     .goods_list img{
      height: 85px;
     }
  </style>
  <php>
  //echo('<pre>');
    //var_dump($list.goods_data);exit;
  </php>
</block>



<block name="title">
  确认交易
</block>

<block name="content">
  <section id="Main" class="kb_main bc ">
    <a href="{{:U('VisitorAddress/orderAddress')}}?project_order={{$list['project_order']}}&companyName={{:I('get.companyName')}}&tem={{:I('get.tem')}}&com={{:I('get.com')}}&c_com={{:I('get.c_com')}}&gid={{:I('get.gid')}}" id="visitor_address" class="kb_list-cell  kb_cell-href kb_list-cell_big mb10">
    </a>
    <volist name="list.orderInfo" id="v" >
    <ul class="kb_list ">
      <if condition="!$v['company_id']">
        <a class="kb_list-cell kb_list-cell_small kb_cell-href" href="http://{{$_SERVER['HTTP_HOST']}}">
          <div class="kb_list-cell-hd ">
            <img src="__PUBLIC__/trading/images/tr-shop.png" alt="" />
          </div>
            <aside class="kb_list-cell-bd">
              <h2 class="kb_list-cell-title">{{$pInfo['market_name']}}</h2>
          </aside>
          <p class="kb_cell-ft">
          </p>
        </a>
      <else />
        <a class="kb_list-cell kb_list-cell_small kb_cell-href" href="http://{{$v.company_link}}">
          <div class="kb_list-cell-hd ">
            <img src="__PUBLIC__/trading/images/tr-shop.png" alt="" />
          </div>
            <aside class="kb_list-cell-bd">
              <h2 class="kb_list-cell-title">{{$v.company_name}}</h2>
          </aside>
          <p class="kb_cell-ft">
          </p>
        </a>
      </if>
      <volist name="v.goods_data" id="vo" >
        <li class="kb_list-cells">
           <a href="{{$vo.link}}" class="kb_list-cell goods_list">
              <div class="kb_list-cell-hd">
                  <img src="__PUBLIC__{{$vo.attrInfo.attr_pic}}" alt="" />
              </div>
              <aside class="kb_list-cell-bd">
                  <h2 class="kb_list-cell-title mb10">{{$vo.goods_name}}</h2>
                  <div class="kb_list-cell-brief">
                      <p class="tg_ft-default mb10">
                          {{$vo.attrInfo.attr_name}}: &nbsp;{{$vo.attrInfo.attr_val}}
                      </p>
                      <p class="tg_ft-price mb10">
                          <b class="f14 mr10">￥{{$vo.price}}</b>
                           <em class="fr tg_ft-default">x{{$vo.total}}</em>
                      </p>
                      <p class="dl_bugShoping">
                      </p>
                  </div>
              </aside>
           </a>
        </li>
    </volist>
    </ul>
    <article class="kb_cell">
      <p class="kb_cell-hd">
        <label class="kb_label">留言备注</label>
      </p>
      <p class="kb_cell-bd">
        <input type="text" name="visitor_remark[]" placeholder="请输入您的留言" class="kb_input tr  w" />
      </p>
    </article>
    <article  class="kb_cell">
      <p class="kb_cell-bd">
        配送方式
      </p>
      <p class="kb_cell-ft">
        <em class="briefColor">快递</em>
        <if condition="$v['express_price']" >
        <em class="tg_ft-yellow">￥{{$v['express_price']}}</em>
        <else />
        <em class="tg_ft-yellow">免邮</em>
        </if>
      </p>
    </article>

    <article  class="kb_cell">
      <p class="kb_cell-bd">
      </p>
      <p class="kb_cell-ft">
        <em class="mr10">共{{$v['piece']}}件</em>
        应付总额：<em class="tg_ft-price">￥{{:array_sum($v['total'])}}</em>
      </p>
    </article>
    </volist>
  </section>
</block>
<block name="footer">
  <footer id="Footer" class="kb_footer ">
    <div  class="tg_cell h50 main_bg dl_orderSub">
      <article class="tg_cell-hd  h f14">
        合计：<em class="tg_ft-price">￥{{$list['express_price'] + $list['order_total']}}</em>
      </article>
      <p class="tg_cell-bd h flexLayout-center">
        <button type="button" class="kb_btn kb_btn-main  tg_cell-bd h mark-orderSub">提交订单</button>
      </p>
    </div>
  </footer>
</block>

<block name="js_files">
<div class="sltPayClass">
  <div class="dl_cover"></div>
  <div class="kb_list-cell kb_list-cell_small kb_cell-href">
    <aside class="kb_list-cell-bd">
        <h2 class="">选择付款方式</h2>
    </aside>
    <p class="kb_cell-ft">
    </p>
  </div>
  <article class="kb_cell kb_cell-check">
    <p class="kb_cell-hd mr10">
      <img src="__PUBLIC__/trading/images/tr-WeChat-payment.png" alt="" class="w30 h30" />
    </p>
    <p class="kb_cell-bd">
      <h2 class="kb_list-cell-title tl w">微信支付
      </h2>
    </p>
    <p class="kb_cell-ft kb_choose">
      <input type="radio" name="rd1" id="weixin" value=""  />
      <span class=" kb_choose-check">
        <b class="kb_choose-check-default kb_choose-check_default"></b>
      </span>
    </p>
  </article>
  <article class="kb_cell kb_cell-check {{$list['project_order'] ? '' : 'is-disabeld'}} ">
    <p class="kb_cell-hd mr10">
      <img src="__PUBLIC__/trading/images/tr-Wallet-to-pay.png" alt="" class="w30 h30" />
    </p>
    <div class="kb_cell-bd">
      <h2 class="kb_list-cell-title">钱包
      </h2>
      <p class="kb_list-cell-brief">{{$userInfo['wallet']}}密条</p>
    </div>
    <p class="kb_cell-ft kb_choose">
      <input type="radio" name="rd1"  value="" data-isPassword="{{$userInfo['pay_pass_word'] ?'1':'0'}}"  class="mark-selfwallet" {{$list['project_order'] ? '' : 'disabled'}}  />
      <span class=" kb_choose-check">
        <b class="kb_choose-check-default kb_choose-check_default"></b>
      </span>
    </p>
  </article>
</div>
<!-- 自定义支付 -->
<div class="ftc_wzsf">
<div class="srzfmm_box">
  <div class="qsrzfmm_bt clear_wl"> <img src="__PUBLIC__/images/xx_03.jpg" class="tx close fr" > <p class="fl">请输入支付密码</p> </div>
  <div class="zfmmxx_shop">
    <div class="wxzf_price">￥{{$list['express_price'] + $list['order_total']}}元</div>
  </div>
   <p class="tc ml5">余额支付</p> 
  <div style="padding-top: 20px;text-align: center;">
      <form id="password" >
          <input readonly class="pass" type="password"maxlength="1"value="">
          <input readonly class="pass" type="password"maxlength="1"value="">
          <input readonly class="pass" type="password"maxlength="1"value="">
          <input readonly class="pass" type="password"maxlength="1"value="">
          <input readonly class="pass" type="password"maxlength="1"value="">
          <input readonly class="pass pass_right" type="password"maxlength="1" value="">

      </form>
      <input type="hidden" id="projectOrder" data-orderinfo='{"orderNum":"{{$list["project_order"]}}","url":"{{:U("OrderForm/ajaxControl")}}","success":"http://{{$_SERVER["HTTP_HOST"]}}{{:U("OrderForm/payed")}}?project_order={{$list["project_order"]}}&companyName={{:I("get.companyName")}}","paypaw":"http://{{$_SERVER["HTTP_HOST"]}}{{:U("WasteBook/setPayPassWord")}}?companyName={{:I("get.companyName")}}&tem={{:I("get.tem")}}","flag":"balance_to_buy"}' />
  </div>
</div>
<div id="keyboardDIV"></div>
</div>
<script src="__PUBLIC__/JS/module/ladingPasswordConfirm/ladingPasswordConfirm.js"></script>
<script>

window.onload=function(){
  $('.dl_cover').on('click',function(){
    $('.sltPayClass').hide();
  });

  var is_exist;
  $.get("{{:U('VisitorAddress/ajaxControl')}}",{flag:'get_order_pay_address'},function(res){
    $.get("{{:U('VisitorAddress/ajaxControl')}}",{flag:'sel_default_address',addr_id:res},function(res){
        if (res) {
          var str = '<div class="kb_list-cell-hd">'
                    +'<img src="__PUBLIC__/trading/images/tr-position.png" alt="" />'
                    +'</div>'
                    +'<aside class="kb_list-cell-bd">'
                    +'<p class="f14 mb10">'+res.consignee+'<b class="ml20">'+res.phone+'</b></p>'
                    +'<p class="kb_list-cell-brief">'+ res.address_str +'</p>'
                    +'</aside>'
                    +'<footer class="kb_cell-ft"></footer>';
        }else{
          var str = '<div class="kb_list-cell-hd">'
                    +'<img src="__PUBLIC__/trading/images/tr-position.png" alt="" />'
                    +'</div>'
                    +'<aside class="kb_list-cell-bd">'
                    +'<h2 class="kb_list-cell-title">请前往设置收货地址</h2>'
                    +'<p class="kb_list-cell-brief">收货地址未设置</p>'
                    +'</aside>'
                    +'<footer class="kb_cell-ft"></footer>';
        }
        is_exist = res;
        $('#visitor_address').html(str);
    });
  });


  $('.mark-orderSub').on('click',function(){
    if (!is_exist) {
        alert('请先前往添加收货地址');
    }else{
      $('.sltPayClass').show();
    }
  });

  $('#weixin').on('click',function(){
    var $this = $(this),
        remark=new Array();
        remark.push($('input[name="visitor_remark[]"]').val());

    $.get("{{:U('ajaxControl')}}",{flag:'createAdvance',project_order:'{{$list["project_order"]}}', visitor_remark:remark},function (result) {
          console.log(result);
          onBridgeReady(result)
        /*if(!result){
          alert('生成订单失败');
        }else{
          showPay(result);
        }*/
    })
  });
  $('.mark-selfwallet').on('click',function(){
    var $this,status;
    $this=$(this);
    status=$this.attr('data-isPassword').trim();
    if(status==0){
      Alert('还未设置钱包支付密码，需要前往设置密码',function(){
        window.location.href="{{:U('WasteBook/setPayPassWord')}}";
      })
      return false;
    }
    $('.ftc_wzsf').show();
     // $('.mubu').show();
    // $('.passwordAlert').hide();
    $('#key').show();
    $('.sltPayClass').hide();
  })
}

    function onBridgeReady(info){
      var data = JSON.parse(info);
      console.log(data);
      WeixinJSBridge.invoke(
        'getBrandWCPayRequest',{
          "appId":data.appId,
          "timeStamp":data.timeStamp,
          "nonceStr":data.nonceStr,
          "package":data.package,
          "signType":data.signType,
          "paySign":data.paySign
        },
        function(res){
            if(res.err_msg == "get_brand_wcpay_request:ok" ) {// 支付成功走这
              WeixinJSBridge.log(res.err_msg);
              $.get("{{:U('ajaxControl')}}",{flag:'selOrderStatus',project_order:'{{$list["project_order"]}}'},function (result) {
                    if(result){
                      window.location.href='http://{{$_SERVER["HTTP_HOST"]}}{{:U("OrderForm/payed")}}?project_order={{$list["project_order"]}}&companyName={{:I("get.companyName")}}';
                    }else{
                      alert('订单支付失败!');
                    }
                });
            }else{
              // alert(1);
              window.location.href='http://{{$_SERVER["HTTP_HOST"]}}{{:U("OrderForm/orderList")}}?show=1&companyName={{:I("get.companyName")}}&tem={{:I("get.tem")}}';
            }

            // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
        }
       );
    }

    function showPay(pay){
      if (typeof WeixinJSBridge == "undefined"){
         if( document.addEventListener ){
             document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
         }else if (document.attachEvent){
             document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
             document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
         }
      }else{
        // console.log(pay)
          onBridgeReady(pay);
      }
    }
</script>
</block>
