<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,user-scalable=0">
	<title>美容美发</title>
	<link rel="stylesheet" href="css/base.css?v=1.0" />
	<link rel="stylesheet" href="js/swiper/swiper.min.css?v=1.1" />
	<link rel="stylesheet" href="css/beautySalons.css?v=1.1" />
	<script src="js/jquery-1.8.2.min.js"></script>
</head>
<body>
	<header id="bsHeader" class="bsHeader">
		<nav>
			<a class="icon-back" href="javascript:;" onclick="javascript:history.back(-1)">
			</a>
		</nav>
		<h1>订单详情</h1>
		<nav>
			
		</nav>
	</header>
	<section id="bsMain" class="bsGoods bsBuyShop">
		<article class="receiptShopAddr">
			<a href="javascript:;">
			<p>
				<b>待评价</b>
				
			</p>
			<p>您已确认收货，写下你对产品的评价吧</p>
			</a>
		</article>
		<p class="bsSeparate"></p>
		<article class="receiptShopAddr">
			<a href="javascript:;">
			<p>
				<b>物流详情</b>
			</p>
			<p>确认签收</p>
			</a>
		</article>
		<p class="bsSeparate"></p>
		<article class="receiptShopAddr">
			<a href="receiptShopAddrList.html">
			<p>
				<b>名字名字名字</b>
				<b>13700000000</b>
			</p>
			<p>地址地址地址地址地址地址地址</p>
			</a>
		</article>
		<p class="bsSeparate"></p>
		<ul class=" bsReservationList  bc mb10 mt10">
			<li>
				
				<p class="reservationListImg">
					<a href="goodsDetail.html"> 
					<img src="image/1.jpg" alt="" />
					</a>
				</p>
				<article class="reservationListInfo">
					<h3 class="mb10">商品名字</h3>
					<p class="mb10 c666">规格：黑色</p>
					<article>
						<em class="c999">￥99</em>
						<p class="changeNumber tr">
							x1
						</p>
					</article>
				</article>
			</li>
			<li>
				
				<p class="reservationListImg">
					<a href="goodsDetail.html"> 
					<img src="image/1.jpg" alt="" />
					</a>
				</p>
				<article class="reservationListInfo">
					<h3 class="mb10">商品名字</h3>
					<p class="mb10 c666">规格：黑色</p>
					<article>
						<em class="c999">￥99</em>
						<p class="changeNumber tr">
							x1
						</p>
					</article>
				</article>
			</li>
		</ul>
		<p class="bsSeparate"></p>
		<article>
			<em >商品总价</em>
			<em class="fr">￥199</em>
		</article>
		<article>
			<em >配送方式</em>
			<em class="fr">快递免邮</em>
		</article>
		<article class="mb10">
			<em>商家优惠</em>
			<b class="c999 fr">	-￥1.00</b>
		</article>

		<article class="sendMssage">
			<label >留言备注:</label>
			<p class="mt10">请寄邮政，谢谢</p>
		</article>
	</section>
	<footer id="bsFooter" class="defaultFooter bsFooter">
		<p>
			<input class="defineBtn mr10 btnColorFFF bc" type="button" value="退款" />
		</p>
		<p>
			<input class="defineBtn mr10 btnColorFFF bc" type="button" value="退款" />
		</p>
		<p>
			
			<input class="defineBtn btnColor00bec5 bc" type="button" value="提醒发货" />
		</p>
	</footer>
	<script src="js/swiper/swiper.jquery.min.js"></script>
	<script src="js/beautySalong.js"></script>
	<script>
		$(function(){
			$('.addShopCarBtn').on('click',function(){
				$('.Popout').slideDown();
			})
		})
	</script>
</body>
</html>