<extend name="Web/adminCom" />
<block name="css_files">
		<link rel="stylesheet" href="__PUBLIC__/selfAdmin/selfAdminCSS/userAdmin/userAdmin.css">
</block>
<block name="content" >
	<div id="kbVipAdmin_center" class="userAdmin_center">
		<div class="kbVipAdmin_center_txt userAdminAddRight-form">
			<div class="kbVipAdmin_center_tables">
				<div class="kbVipAdmin_tableHead">
					<p class="authAddBtn"><input class=" adminFont kbVipAdmin_btn w100 h50 "  type="button" value="&#xe762;&nbsp;&nbsp;添加" /></p>
				</div>
				<table class="roleList">
					<thead>
						<tr>
							<th width="5%">编号</th>
							<th>规则中文名称</th>
							<th width="20%">规则名称</th>
							<th width="100">显示名称</th>
							<th>所属权限</th>
							<th>状态</th>
							<th width="300">操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="list" item='v'>
						<tr bgcolor="#9B989C">
							<td class="childrenID">{{$v.id}}</td>
							<td>{{$v.title}}</td>
							<td>{{$v.name}}</td>
							<td>{{$v.alias}}</td>
							<td>顶级权限</td>
							<td >
								{{$v['status']==1?'启用':'禁用'}}
							</td>
							<td>
								<input class="adminFont kbVipAdmin_btnMenu couponAdListWirte" type="button" value="&#xe601;&nbsp;编辑" />
								<input class="kbVipAdmin_btnMenu priority" type="button" ruleID="{{$v.id}}" value="&#xe601;&nbsp;优先排序" />
								<input class="adminFont kbVipAdmin_btnMenu childrenRightRemove" type="button" value="&#xe606;&nbsp;删除" />	
							</td>
						</tr>
							<foreach name="v.rule" item="vo">
							<tr >
								<td class="childrenID">{{$vo.id}}</td>
								<td>{{$vo.title}}</td>
								<td>{{$vo.name}}</td>
								<td>{{$vo.alias}}</td>
								<td>{{$v.title}}</td>
								<td class="childrenStatus" dataStatus="{{$vo['status']}}">{{$vo['status']==1?'启用':'禁用'}}</td>
								<td>
									<input class="adminFont kbVipAdmin_btnMenu couponAdListWirte" type="button" value="&#xe601;&nbsp;编辑" />
									<input class="kbVipAdmin_btnMenu priority" type="button" ruleID="{{$vo.id}}" value="&#xe601;&nbsp;优先排序" />
									<input class="adminFont kbVipAdmin_btnMenu childrenRightRemove" type="button" value="&#xe606;&nbsp;删除" />	
									<input class="kbVipAdmin_btnMenu childrenRightDisabled" type="button" value="{{$vo['status']==0?'启用':'禁用'}}" />					
								</td>
							</tr>
							</foreach>
						</foreach>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="kbVipAdmin_alert userAdminAddRight_alert">
		<div class="kbVipAdmin_alert_box ">
		<button class="kbVipAdmin_alert-close adminFont">&#xe61b;</button>
		<h2>添加权限</h2>
		<form  action="{{:U('authAdd')}}" method="post">
			<div class="kbVipAdmin_form">
				<p>
					<span>父级权限:</span>
					<select name="parent_id"  class="kbVipAdmin_slt pl20" style="width: 250px">
						<option >--请选择--</option>
						<option value="0">顶级权限</option>
						<foreach name="list" item="v">
							<option value="{{$v.id}}">{{$v.title}}</option>
						</foreach>
					</select>
 				</p>
				<p>
					<span>规则中文名称:</span>
					<input type="text" vlaue="" name="title" />
				</p>
				<p>
					<span>规则名称:</span>
					<input type="text" vlaue="" name="name" placeholder="如:Admin/Card/cardAdd" />
				</p>
				<p>
					<span>显示名称:</span>
					<input type="text" vlaue="" name="alias" />
				</p>
				<p class="microWebMenuAdmin"><span>显示功能：</span>
					<input id="microWebDisabled" style="width: 0%;height: 0%" name="display" type="radio" value="0" />
					<label for="microWebDisabled"><i></i><b>是</b></label>
					<input id="microWebEnabled" style="width: 0%;height: 0%" name="display" type="radio"  value="1" />
					<label for="microWebEnabled"><i></i><b>否</b></label>
				</p>
				<!-- <p>
					<span>方法名称:</span>
					<input type="text" vlaue="" />
				</p> -->
				<p class="kbVipAdmin_MenuAdminBtn ">
					<input class="microWebAlertSmt" type='submit' value="确认添加" />
				</p>
			</div>
		</form>
		
	</div>

	</div>
	<div class="kbVipAdmin_alert userAdminAddRight_alertWriter">
		<div class="kbVipAdmin_alert_box ">
		<button class="kbVipAdmin_alert-close adminFont">&#xe61b;</button>
		<h2>修改权限</h2>
		<form  action="{{:U('authAdd')}}" method="post">
			<div class="kbVipAdmin_form">
				<p>
					<span>父级权限:</span>
					<select name="parent_id" class="kbVipAdmin_slt pl20" style="width: 250px">
						<option >--请选择--</option>
						<option value="0">顶级权限</option>
						<foreach name="list" item="v">
							<option value="{{$v.id}}">{{$v.title}}</option>
						</foreach>
					</select>
 				</p>
				<p>
					<span>规则中文名称:</span>
					<input type="text" vlaue="" name="title" />
				</p>
				<p>
					<span>规则名称:</span>
					<input type="text" vlaue="" name="name" placeholder="如:Admin/Card/cardAdd" />
				</p>
				<p>
					<span>显示名称:</span>
					<input type="text" vlaue="" name="alias" />
				</p>
				<p class="microWebMenuAdmin"><span>显示功能：</span>
						
						<input id="microWebDisabled1" style="width: 0%;height: 0%" name="display" type="radio" value="0" />
						<label for="microWebDisabled1"><i></i><b>是</b></label>
						<input id="microWebEnabled1" style="width: 0%;height: 0%" name="display" type="radio"  value="1" />
						<label for="microWebEnabled1"><i></i><b>否</b></label>
				</p>
				<p class="kbVipAdmin_MenuAdminBtn ">
					<input style="display:block" class="microWebAlertSmt" type='submit' value="确认提交" />
				</p>
			</div>
		</form>
		
	</div>
	<script type="text/javascript">
		$(function(){
			$('.userAdminAddRight-form .authAddBtn').on('click',function(){
				$('.userAdminAddRight_alert').fadeIn();
			});
			//禁用子权限
			 $('.childrenRightDisabled').on('click',function(){
			 	
			 	var $this=$(this);
			 	var childrenID=$this.parent().siblings('.childrenID').text();//获取该的表格元素编号
			 	var childrenStatus=$this.parent().siblings('.childrenStatus').attr("dataStatus");

			 	$.get('{{:U("ajaxControl")}}',{flag:'changeRuleStatus',id:childrenID,status:childrenStatus},function (res){
			 			//父权限操作
			 			var domStatus=(res=="启用") ? "1":"0"
			 				$this.val((res=="启用") ? "禁用":"启用");
			 				$this.parent().siblings('.childrenStatus').attr("dataStatus",domStatus);
			 				$this.parent().siblings('.childrenStatus').text(res);
			 			
			 			
			 	});
			});
			 //移除子权限
			$('.childrenRightRemove').on('click',function(){
				var $this=$(this);
			 	var childrenID=$this.parent().siblings('.childrenID').text();//获取该的表格元素编号
			 	var r=confirm("确定删除该权限吗？");
			 	if(r==true){
			 		$.get('{{:U("ajaxControl")}}',{flag:'ruleDel',id:childrenID},function (res){
			 			//父权限操作
			 			if(res==true){
			 				alert('删除成功')
			 				$this.parents('tr').remove();
			 			}else{
			 				alert(res);
			 			};
			 		});
			 	}
			});

			$('.couponAdListWirte').on('click',function(){
				$('.userAdminAddRight_alertWriter').fadeIn();
				var $this=$(this);
				var childrenID=$this.parent().siblings('.childrenID').text();//
				$.get('{{:U("ajaxControl")}}',{flag:'selRule',id:childrenID},function (res){
					var fromP= $('.userAdminAddRight_alertWriter .kbVipAdmin_form p');
					var selectP= $('.userAdminAddRight_alertWriter .kbVipAdmin_form select option[value='+res.parent_id+']').prop("selected",true);
					$(fromP[1]).find('input').val(res.title);
					$(fromP[2]).find('input').val(res.name);
					$(fromP[3]).find('input').val(res.alias);
					$(fromP[4]).find('input').eq(res.display).prop("checked",true);
				 	//console.log( $(fromP[3]).find('input').eq(res.display));
				 	$('.userAdminAddRight_alertWriter form').prop("action","{{:U('authUpdate')}}?id="+childrenID);	
		 		});
			});

			$('.priority').on('click',function(){
				$.get('{{:U("ajaxControl")}}',{flag:'priorityRule',id:$(this).attr('ruleID')},function (res){
					if (res) {
						alert('操作成功');
					}else{
						alert('操作失败');
					}
		 		});
			});
		});

	</script>
</block>