<extend name="Web/default" />
<block name="files">

</block>
<block name="content">
    <div id="right" class="cardleague">
        <!-- 搜索条 -->
        <form class="form-horizontal">
            <div class="form-group">
                <div class="input-group searchbar">
                    <select class="form-control">
                        <option value="1">卡券名称</option>
                        <option value="1">商户名称</option>
                        <option value="1">商户编号</option>
                        <option value="1">添加时间</option>
                    </select>
                    <input class="form-control" type="text" name="" value="" style="outline:none;">
                    <input class="btn btn-default" type="submit" value="搜索">
                </div>
            </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>卡券名称</th>
                    <th>卡券图片</th>
                    <th>状态</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>
                        <div class='btn-group'>
                            <button type='button' class='btn btn-primary dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>显示<span class='caret'></span></button>
                            <ul class='dropdown-menu'>
                                <li><a href='?Page=1&Column=2&Handle=hide'>隐藏</a></li>
                                <li><a href='?Page=1&Column=2&Handle=delete'>删除</a></li>
                            </ul>
                        </div>    
                    </td>
                    <td>2016年10月19日</td>
                    <td>2016年10月19日</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</block>