<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	<title>阿密购商城<block name="title"></block></title>
	
	<!-- default end -->
	<include file="Common/head" />
	<style>
		.bsSearch{

		}
	</style>
	<block name="css_file" >
		
	</block>
</head>
<body class="kbMt_bc-fdf7ee">
	<block name="header">
	<header id="bsHeader" class="bsHeader bsSearcHHref ">
			<nav >
				<a class="icon-customerFFF" href="javascript:;">
				</a>
			</nav>
			<h1><input class="hd-search" type="search" value="" placeholder=""  /></h1>
			<nav>
				<if condition="$newsCount">
			        <a class="icon-newsLeft hasTip" href="{{:U('SystemNews/newsList')}}?companyName={{$_GET['companyName']}}"></a>
			    <else/>
			        <a class="icon-newsLeft" href="{{:U('SystemNews/newsList')}}?companyName={{$_GET['companyName']}}"></a>
			    </if>
			</nav>
	</header>
	
		
	

	</block>
	<block name="content" >

	</block>
	<block name="footer">
	<footer id="bsFooter" class="bsMainNav bsFooter">
		<p class="ftIndex">
			<a href="{{:U('Index/index')}}?companyName={{$_GET['companyName']}}" buttontype="1"></a>
			<b>首页</b>
		</p>
		<p class="ftNews">
			<a href="{{:U('News/newsList')}}?companyName={{$_GET['companyName']}}" buttontype="2"></a>
			<b>动态</b>
		</p>
		<p class="ftGoods">
			<a href="{{:U('Goods/goodsList')}}?companyName={{$_GET['companyName']}}" buttontype="3"></a>
			<b>商品</b>
		</p>
		<if condition="!$staff" >
		<p class="ftOrder">
			<a href="{{:U('Staff/staffList')}}?companyName={{$_GET['companyName']}}" buttontype="4"></a>
			<b>预约</b>
		</p>
		</if>
		<p class="ftVisitor">
			<a href="{{:U('VisitorInfo/myCenter')}}?companyName={{$_GET['companyName']}}" buttontype="5"></a>
			<b>我的</b>
		</p>
	</footer>
	</block>
	<block name="otherblock">

	</block>
	<include file="Common/footer" />
	<script>
	$(function(){
		$('.bsHeader.bsSearcHHref  .hd-search').on('click',function(){
			window.location.href='{{:U("Search/showSearch")}}?companyName={{$_GET['companyName']}}';//搜索跳转
		});
	})
	</script>
	<block name="js_file">

	</block>
</body>
</html>