<extend name="Web/projectDefault" />

<block name="content">

	<div id="kbVipAdmin_rightCenter" class="spAnProductClass OrderForm">
		<php>
			//echo('<pre>');
			//var_dump($list);exit;
		</php>
		<div class="centerTitle">
			<h1>品牌管理</h1>
		</div>
		<div class="kbVipAdmin_operating spAnProductClass-operating" >
			<input class="kbVipAdmin_opt kbVipAdmin_add w80 h30" type="button" value="添加" />
		</div>
		<div class="main-contentBox  kbVipAdmin_mt24" >
			<div class="kbVipAdmin_table">
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>品牌名称</th>
							<th>简述</th>
							<th>所属商品数量</th>
							<!-- <th>浏览量</th> -->
							<th>分类状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<foreach name="list" item="vo">
						<tr>
							<td>{{$vo.id}}</td>
							<td>{{$vo.brand_name}}</td>
							
							<td>{{$vo.brand_describe}}</td>
							<td>{{$vo.goodsCount}}</td>
							<td>
								<p class="kbVipAdmin_pushBtn">
									<input type="checkbox" value="" {{$vo['status'] == '0'?'checked':''}} title=" {{$vo['status'] == '0'?'启用':'禁用'}}"/>
									<label><b></b></label>
								</p>
								
							</td>
							<td class="kbVipAdmin_tdAction">
								<input class="font_57c8f2 kbVipAdminEdit" type="button" value="" title="编辑"/>
								<input class="font_ff6c60 kbVipAdminDel" type="button" value="" title="删除"/>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<!-- 分页位置 -->
			<div class="kbVipAdmin_page">
				<div class="pageSize">
					<a class="prevPage"  href="javascript:;"></a>
					<p class="pageNum"><span>1</span><span>/</span><span>3</span></p>
					<a class="nextPage" href="javascript:;"></a>
				</div>
				<div class="pageJump">			
					<input class="w60  fl" type="text" value="" />
					<a class="fl" href="javascript:;">跳转</a>
				</div>
			</div>
		</div>

	</div>

	<div class="kbVipAdmin_alert spAnProductClass_alert">
		<div class="kbVipAdmin_alertBox">
			<button type="button" class="kbVipAdmin_alert-close "></button>
			<form action="" method="post" enctype="multipart/form-data">
				 <h3 class="mb10">添加品牌</h3>
				<p class="kbVipAdmin_enter"><b><i>*</i>品牌名称</b>
				<input type="text" maxlength="6" name="brand_name" value="" placeholder="请输入子品牌名字" required="required" />
					<strong class="kbVipAdmin_tip">必填项。品牌名字不能超过6个字数</strong>
				</p>
				<div class="kbVipAdmin_enter kbVipAdmin_fileImg"><b><i>*</i>品牌封面:</b>
						
					<input id="shopImg"  type="file" value="" name="brand_logo"  />
					
					<label class="" for="shopImg" ><span style="font-size:27px">+</span><br /><span>选择一张图片作为品牌封面</span></label>
				</div>
				<p class="kbVipAdmin_enter"><b>品牌简述</b>
				<textarea placeholder="请输入品牌描述" name="brand_describe" ></textarea>
				</p>
				<div class="kbVipAdmin_operating ">
					<div class="kbVipAdmin_restsubmit"> 
						<input  class="kbVipAdmin_button_eee w100 h40 tc" type="reset" value="取消" />
						<input  class="kbVipAdmin_opt w100 h40" type="submit" value="保存" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="kbVipAdmin_alert spAnProductClass_alertEdit">
		<div class="kbVipAdmin_alertBox">
			<button type="button" class="kbVipAdmin_alert-close "><img src=" " alert="X" /></button>
			<form action="" method="post" enctype="multipart/form-data">
				<h3 class="mb10">编辑品牌</h3>
				
				<p class="kbVipAdmin_enter"><b><i>*</i>品牌名称:</b>
				<input type="text" maxlength="6" name="brand_name" value="" placeholder="请输入子品牌名字" required="required" />
				<strong class="kbVipAdmin_tip">必填项。子品牌名字不能超过6个字数</strong>
				</p>
				<div class="kbVipAdmin_enter kbVipAdmin_fileImg"><b><i>*</i>品牌封面:</b>
					<div class="shopImg businessFileImgList">
						<span class="cleraIMG" onclick="clearImg(this)"></span>
					</div>	
					<input id="shopImg1"  type="file" value="" name="brand_logo"  />
					<label class="" for="shopImg1" ><span style="font-size:27px">+</span><br /><span>选择一张图片作为品牌封面</span></label>
				</div>
				<p class="kbVipAdmin_enter"><b>品牌简述:</b>
				<textarea placeholder="请输入产品描述" name="brand_describe" maxlength="10" ></textarea>
				</p>
				<div class="kbVipAdmin_operating ">
					<div class="kbVipAdmin_restsubmit"> 
						<input  class="kbVipAdmin_button_eee w100 h40 tc" type="reset" value="取消" />
						<input  class="kbVipAdmin_opt w100 h40" type="submit" value="保存" />
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="js_files">
<script type="text/javascript">
 $(function(){
 	vueMethods.myTitile(); 
	$(".spAnProductClass .spAnProductClass-operating  .kbVipAdmin_add").on('click',function(){
		$(".spAnProductClass_alert").fadeToggle();
		vueMethods.maxLength(); 

	})
	$(".kbVipAdmin_alert  .kbVipAdmin_operating input[type='reset']").on('click',function(){
		$(".kbVipAdmin_alert").fadeOut();

	})
	$(".spAnProductClass .kbVipAdmin_tdAction .kbVipAdminEdit").on('click',function(){

		$(".spAnProductClass_alertEdit").fadeToggle();
		vueMethods.maxLength(); 
		var ID = $(this).parent().siblings('td').eq(0).text().replace(/(^\s+)|(\s+$)/g, "");
		$.get('{{:U("ajaxControl")}}',{flag:'selBrandInfo',id:ID},function(res){
			for(r in res){
				switch(r){
					case 'brand_describe':
						$('.spAnProductClass_alertEdit form').find('textarea[name="'+r+'"]').val(res[r]);
					break;
					case 'brand_name':
						$('.spAnProductClass_alertEdit form').find('input[name="brand_name"]').val(res.brand_name);
					break;
					case 'brand_logo':
						$('.spAnProductClass_alertEdit form').find('.kbVipAdmin_fileImg .businessFileImgList').append("<img src='__PUBLIC__"+res.brand_logo+"' alt='产品品牌图片' />");
					break;
				}
			}
		});
		$('.spAnProductClass_alertEdit form').prop('action',"{{:U('brandUpdate')}}?id="+ID);
	})
	 $('.kbVipAdmin_tdAction .kbVipAdminDel').on('click',function(){
	 	var $this = $(this);
	 	var ID =$this.parent().siblings('td').eq(0).text().replace(/(^\s+)|(\s+$)/g, "");
	 	Confirm("你确定进行该删除操作吗？",function(ren){
	 		if(ren){
	 			$.get('{{:U("ajaxControl")}}',{flag:'del',id:ID,status:'-1'},function(res){
   		 		if(res){
   		 			oTip(res);
   		 			$this.parent().parent().remove();
   		 		}
	 			})
	 		}
	 	});
	 	
	 });
	 $('.kbVipAdmin_pushBtn input').on('click',function(){
	 	 var $this=$(this);
	 	 var ajaxUrl='{{:U("ajaxControl")}}';
	 	 var Status=$this.is(':checked')?0:1;
	 	  var ID = $this.parents('tr').children().eq(0).text().trim();
	 	$.get(ajaxUrl,{
	 	 	flag:'del',
		 	status:Status,
		 	id:ID
	 	 },function(res){
	 	 	if(res!="操作成功"){
	 	 		$this.attr('checked',false)
	 	 		oTip(res)
	 	 	}else{
	 	 		sTip(res)
	 	 	}
	 	 	console.log(res);
	 	 })
	 	
	 })
 });
</script>
</block>