<extend name="Web/projectDefault" />
<block name="content" >
	<div id="kbVipAdmin_rightCenter" class="couponTrade_center OrderForm">
	<div class="centerTitle">
             
      <h1>管理员列表</h1>
   </div>

    <div class="kbVipAdmin_operating filter-operating">
    	<form class="kbVipAdmin_inlineBlock" action="" >
    		<div class="filter-searchDate mr10">
	    	<input class="kbVipAdmin_search microWeb-search" type="search" name="selCompanyName" value="{{:I('get.selCompanyName')}}" placeholder="请输入商户名称搜索" />

	    	<button  type="submit" class="kbVipAdmin_opt w80 h30 fr">查询</button>
	    	</div>
    	</form>
    	<!-- <p class="authAddBtn"> -->
    		<!-- <input class=" adminFont kbVipAdmin_btn w100 h50 addCouponAdClass fr"  type="button" value="&#xe762;&nbsp;&nbsp;添加" /> -->
    	<!-- </p> -->
    </div>

	<div class="main-contentBox">
		<div class="kbVipAdmin_table">
			<table class="roleList couponBusiness_roleList">
				<thead>
					<tr>
						<th>序号</th>
						<th>用户帐号</th>
						<th>手机号码</th>
						<th>邮箱地址</th>
						<th>所属商户</th>
						<th>状态</th>
						<!-- <th>操作</th> -->
					</tr>
				</thead>
				<tbody>
				<empty name="noList" >
				<tr><td colspan="6"><center><font size="5" color="#F50C36">暂无查找数据</font></center></td></tr>
				<else />
				<volist name="userList" id="v">
					<tr>
						<td class="companyAdminId">{{$v.id}}</td>
						<td>{{$v.user_name}}</td>
						<td>{{$v.phone}}</td>
						<td>{{$v.email}}</td>
						<td>{{$v.company_name}}</td>
						<td class="microWebMenuAdmin">
							<p class="kbVipAdmin_pushBtn">
								<input  name="microWebMenuAdmin"  type="checkbox" {{$v['status'] == '0'?'checked':''}} 
								title="{{$v['status'] == '0'?'启用':'禁用'}}"
								value="0"
								 onclick="companyAdminChangeStatus(this)" 
								/>
								<label ><b></b></label>
							</p>
						</td>
						<!-- <td>
							<div class="kbVipAdmin_btnMenuBox bc">
								<input class="adminFont kbVipAdmin_btnMenu lookList couponAreaListWirte" type="button" value="&#xe601;&nbsp;编辑" />
								<input class="adminFont kbVipAdmin_btnMenu kbVipAdmin_btnMenuDel" type="button" value="&#xe606;&nbsp;删除" />
							</div>
						</td> -->
					</tr>
				</volist>
				</empty>
				</tbody>
			</table>
		</div>
		<!-- 分页位置 -->
		<div class="kbVipAdmin_page">
			<div class="pageSize">
				{{$page}}
			</div>
			<div class="pageJump">
			<form>	
				<input class="w60  fl" type="text" name="p" value="{{:I('get.p')}}" />
				<input type="submit" class="fl" value="跳转">
			</form>
			</div>
		</div>
	</div>
</div>
	<div class="kbVipAdmin_alert couponBusiness_alertWriter">
		<div class="kbVipAdmin_alert_box ">
		<button class="kbVipAdmin_alert-close adminFont">&#xe61b;</button>
		<h2>添加行业</h2>
		<form class="couponBusiness_FormParent" action="{{:U('businessAdd')}}" method="post">
			<div class="kbVipAdmin_form">
				<p>
					<span>行业名称:</span>
					<input type="text" name="business_name" value="" />
				</p>
				<!-- <p class="couponAddrTrade"><span>所属区域：</span>
					<input type="text" value="" disabled="disabled" name="region" /><b>修改</b>
				</p> -->
				<div class="couponAddr userAreaSlt">
					<span>所属区域:</span>
					<select>
						<option value="">请选择</option>
						<foreach name="region" item="v">
                            <option value="{{$v['id']}}">{{$v.region_name}}</option>
                        </foreach>
					</select> 
				</div>
				<div class="kbVipAdmin_textArea">
					<span>描述:</span>
					<textarea name="business_desc"></textarea>
				</div>
			</div>
			<p class="kbVipAdmin_MenuAdminBtn">
				<input class="authAddFormSmt" type='submit' value="添加" />
			</p>
		</form>
		</div>
	</div>
	<div class="kbVipAdmin_alert couponBusiness_alertEdit">
		<div class="kbVipAdmin_alert_box ">
		<button class="kbVipAdmin_alert-close adminFont">&#xe61b;</button>
		<h2>编辑行业</h2>
		<form class="couponBusiness_FormParent" action="" method="post">
			<div class="kbVipAdmin_form">
				<p>
					<span>行业名称:</span>
					<input type="text" name="business_name" value="" />
				</p>
				<p class="couponAddrTrade"><span>所属区域：</span>
					<input type="text" value="" disabled="disabled" name="region_name" /><b>修改</b>
				</p>
				<p class="couponAddr userAreaSlt" style="display:none">
					<span>所属区域:</span>
					<select>
						<option value="">请选择</option>
						<foreach name="region" item="v">
                            <option value="{{$v['id']}}">{{$v.region_name}}</option>
                        </foreach>
					</select>
				</p>
				<div class="kbVipAdmin_textArea">
					<span>描述:</span>
					<textarea name="business_desc"></textarea>
				</div>
			</div>
			<p class="kbVipAdmin_MenuAdminBtn">
				<input style="display:block" class="authAddFormSmt" type='submit' value="保存" />
			</p>
		</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){

			$('.addCouponTrade ').on('click',function(){
				$('.couponBusiness_alertWriter').fadeIn();
			});
			$('.couponListWirte ').on('click',function(){
				$('.couponBusiness_alertEdit').fadeIn();
				var $this = $(this);
				var ID = $this.parent().siblings().eq(0).text();
		        $.get('{{:U("ajaxControl")}}',{flag:"selBusinessInfo",id:ID},function (res){
		        		for(r in res){
		        			switch(r){
		        				case "business_desc":
		        					$('.couponBusiness_alertEdit form').find('textarea[name="business_desc"]').val(res[r]);
		        				break;
		        				default:
		        				$('.couponBusiness_alertEdit form').find('input[name="'+r+'"]').val(res[r]);
		        			}
		        			
		        		}
			 			
				});
				$('.couponBusiness_alertEdit form').prop('action',"{{:U('businessUpdate')}}?id="+ID);
		        $('.couponAddrTrade b').on('click',function(){

					$('.couponAddr').fadeToggle();
					$('.couponTrade').fadeToggle();
					$(this).text(($(this).text()=="修改")? "取消":"修改");
					// var inputName=$(this).text(($(this).text()=="修改")? "取消":"修改");
				})
			});

			$('.couponAddr select').on('change',function (){
	            var a ;
	            a = parseInt($(this).attr('sta'));
	            var flag = 'address';
	            if (a === 3) 
	            {   
	                flag = 'region';
	            }
	            var fa = $(this).next();
	            var name = fa.find('option:eq(0)').text();
	            $.get('__MODULE__/Card/ajaxControl',{'flag':flag,'pid':$(this).val()},function (res){
	                var str = '<option value="">'+name+'</option>';
	                for(var k in res)
	                {
	                    str += '<option value="'+res[k].district_id+'">'+ res[k].name +'</option>';
	                }
	                fa.html(str);
	            });
	        });

	        $('.userAreaSlt select').on('change',function(){
                var $this = $(this);
                var options=$this.children('option:selected');
                var optionsVal=options.val();
                var ajaxUrl='{{:U("Goods/ajaxControl")}}';
              	$('select[name=business_id]').children().not('option[value=-1]').remove();//区域选择有变动时，清除行业选择内容
                userAreaSltChild(this,ajaxUrl);
               
            });/*userAreaSlt select end */
		});

		function businessDel(obj)
		{
			var bool = confirm('确定要删除吗?');
			if (bool) 
			{
				$.get('{{:U("ajaxControl")}}',{flag:'del',id:$(obj).parent().siblings('.businessID').text()},function(res){
					if (res == 2) 
					{
						alert('此行业下还存在商户,不能删除');
					}else{
						alert(res);
						$(obj).parent().parent().remove();
					}
				});
			}
		}

		function companyAdminChangeStatus(obj) {
			var id = $(obj).parents('td').siblings('.companyAdminId').text().trim(),
			 status = $(obj).prop("checked")?0:1;
			$.get('{{:U("ajaxControl")}}', {flag:'changeAdminUserStatus', id:id, status:status}, function (res) {
				if(res){
				  sTip("修改成功");
				}else{
				  eTip("修改失败");	
				}
			})
		}
	</script>
</block>