<extend name="Web/companyCom" />
<block name="css_files">
<link rel="stylesheet" href="__PUBLIC__/Business/BusinessCSS/companyInfo/companyInfo.css"></link>
</block>
<block name="content" >
	<div id="kbShopAdmin_rightCenter" class="spAnProductClass OrderForm">
		<div class="centerTitle">
			<h1>商品分类</h1>
		</div>
		<div class="kbShopAdmin_operating spAnProductClass-operating" >
			<input class="kbShopAdmin_opt kbShopAdmin_add w80 h30" type="button" value="添加" />
		</div>
		<div class="main-contentBox  kbShopAdmin_mt24" >
			<div class="kbShopAdmin_table">
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>分类名称</th>
							<th>分类logo</th>
							<th>所属商品数量</th>
							<th>浏览量</th>
							<th>分类状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<foreach name="showcate" item="vo">
						<tr>
							<td>{{$vo.id}}</td>
							<td>{{$vo.classify_name}}</td>
							<td><img src="__PUBLIC__{{$vo.classify_logo}}" width="100" style="margin-top: 3px"></td>
							<td>{{$vo.gnum}}</td>
							<td>{{$vo.visitorTotal}}</td>
							<td>
								<p class="kbShopAdmin_pushBtn">
									<input type="checkbox" value="" {{$vo['status'] == '0'?'checked':''}} title=" {{$vo['status'] == '0'?'启用':'禁用'}}"/>
									<label><b></b></label>
								</p>
								<!-- <p class="kbShopAdmin_checkbox">
									<input  type="radio" name="status{{$vo.id}}" value="0"  />
									<label class="font_6ccac9">
										<b class="kbShopAdmin_buttonMr"></b>
										启用
									</label>
								</p>
								<p class="kbShopAdmin_checkbox">
									<input type="radio"  name="status{{$vo.id}}" value="1" {{$vo['status'] == '1'?'checked':''}}/>
									<label class="font_ff6c60">
										<b class="kbShopAdmin_buttonMr">
										</b>
										禁用
									</label>
								</p> -->
							</td>
							<td class="kbShopAdmin_tdAction">
								<input class="font_57c8f2 kbShopAdminEdit" type="button" value="" title="编辑"/>
								<input class="font_ff6c60 kbShopAdminDel" type="button" value="" title="删除"/>
							</td>
						</tr>
					</foreach>
					</tbody>
					
				</table>
			</div>
			<!-- 分页位置 -->
			<div class="kbShopAdmin_page">
				<div class="pageSize">
					<a class="prevPage"  href="javascript:;"></a>
					<p class="pageNum"><span>1</span><span>/</span><span>3</span></p>
					<a class="nextPage" href="javascript:;"></a>
				</div>
				<div class="pageJump">			
					<input class="w60  fl" type="text" value="" />
					<a class="fl" href="javascript:;">跳转</a>
				</div>
			</div>
		</div>
	</div>
	<div class="kbShopAdmin_alert spAnProductClass_alert">
		<div class="kbShopAdmin_alertBox">
			<button type="button" class="kbShopAdmin_alert-close "></button>
			<form action="" method="post" enctype="multipart/form-data">
				 <h3 class="mb10">添加产品分类</h3>
				<p class="kbShopAdmin_enter"><b><i>*</i>分类名称</b>
				<input type="text" maxlength="6" name="classify_name" value="" placeholder="请输入子分类名字" required="required" />
					
				</p>
				<div class="kbShopAdmin_enter kbShopAdmin_fileImg"><b><i>*</i>分类封面:</b>
						
					<input id="shopImg"  type="file" value="" name="classify_logo"  />
					<label class="" for="shopImg" ><span style="font-size:27px">+</span><br /><span>选择一张图片作为分类封面</span></label>
				</div>
				<p class="kbShopAdmin_enter"><b><i>*</i>描述</b>
				<textarea placeholder="请输入产品描述" name="title" required="required"></textarea>
				</p>
				<div class="kbShopAdmin_operating ">
					<div class="kbShopAdmin_restsubmit"> 
						<input  class="kbShopAdmin_button_eee w100 h40 tc" type="reset" value="取消" />
						<input  class="kbShopAdmin_opt w100 h40" type="submit" value="保存" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="kbShopAdmin_alert spAnProductClass_alertEdit">
		<div class="kbShopAdmin_alertBox">
			<button type="button" class="kbShopAdmin_alert-close "><img src=" " alert="X" /></button>
			<form action="" method="post" enctype="multipart/form-data">
				<h3 class="mb10">编辑产品分类</h3>
				
				<p class="kbShopAdmin_enter"><b><i>*</i>分类名称:</b>
				<input type="text" maxlength="6" name="classify_name" value="" placeholder="请输入子分类名字" required="required" />
				</p>
				<div class="kbShopAdmin_enter kbShopAdmin_fileImg"><b><i>*</i>分类封面:</b>
					<div class="shopImg businessFileImgList">
						<span class="cleraIMG" onclick="clearImg(this)"></span>
					</div>	
					<input id="shopImg1"  type="file" value="" name="classify_logo"  />
					<label class="" for="shopImg1" ><span style="font-size:27px">+</span><br /><span>选择一张图片作为分类封面</span></label>
				</div>
				<p class="kbShopAdmin_enter"><b><i>*</i>描述:</b>
				<textarea placeholder="请输入产品描述" name="title" required="required"></textarea>
				</p>
				<div class="kbShopAdmin_operating ">
					<div class="kbShopAdmin_restsubmit"> 
						<input  class="kbShopAdmin_button_eee w100 h40 tc" type="reset" value="取消" />
						<input  class="kbShopAdmin_opt w100 h40" type="submit" value="保存" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
     $(function(){
   		$(".spAnProductClass .spAnProductClass-operating  .kbShopAdmin_add").on('click',function(){
   			$(".spAnProductClass_alert").fadeToggle();

   		})
   		$(".kbShopAdmin_alert  .kbShopAdmin_operating input[type='reset']").on('click',function(){
   			$(".kbShopAdmin_alert").fadeOut();
   		})
   		$(".spAnProductClass .kbShopAdmin_tdAction .kbShopAdminEdit").on('click',function(){
   			$(".spAnProductClass_alertEdit").fadeToggle();
   			var ID = $(this).parent().siblings('td').eq(0).text().replace(/(^\s+)|(\s+$)/g, "");
   			$.get('{{:U("ajaxControl")}}',{flag:'selClassifyInfo',id:ID},function(res){
   				for(r in res){
   					console.log(r);
   					switch(r){
   						/* case 'pid':
   							$(".spAnProductClass_alertEdit form select").find('option[value="'+res.pid+'"]').prop('selected',true);
   						break; */
   						case 'title':
   							$('.spAnProductClass_alertEdit form').find('textarea[name="'+r+'"]').val(res[r]);
   						break;
   						case 'classify_name':
   							$('.spAnProductClass_alertEdit form').find('input[name="classify_name"]').val(res.classify_name);
   						break;
   						case 'classify_logo':
   							$('.spAnProductClass_alertEdit form').find('.kbShopAdmin_fileImg .businessFileImgList').append("<img src='__PUBLIC__"+res.classify_logo+"' alt='产品分类图片' />");
   						break;
   					}
   				}
   			});
   			$('.spAnProductClass_alertEdit form').prop('action',"{{:U('goodsClassifyUpdate')}}?id="+ID);
   		})
   		 $('.kbShopAdmin_tdAction .kbShopAdminDel').on('click',function(){
   		 	var $this = $(this);
   		 	var ID =$this.parent().siblings('td').eq(0).text().replace(/(^\s+)|(\s+$)/g, "");
   		 	
   		 	Confirm("你确定删除该分类吗？",function(ren){

   		 		if(ren){
   		 			
   		 			$.get('{{:U("ajaxControl")}}',{flag:'goodsClassifyDel',id:ID},function(res){
		   		 		if(res){
		   		 			oTip(res);
		   		 			console.log(res);
			   		 			if(res!="当前分类下存在存在商品,不能删除!"){

			   		 			 	$this.parent().parent().remove();
			   		 			}
		   		 		}
   		 			})
   		 		}else{
   		 			eTip('操作失败')
   		 		}
   		 	});
   		 	
   		 });
   		 $('.kbShopAdmin_pushBtn input').on('click',function(){
   		 	 var $this=$(this);
   		 	 var ajaxUrl='{{:U("ajaxControl")}}';
   		 	 var Status=$this.is(':checked')?0:1;
   		 	 var ID = $this.parents('tr').children().eq(0).text().trim();
   		 	 // console.log(Status);
   		 	 $.get(ajaxUrl,{
   		 	 	flag:'changeGoodsClassifyStatus',
	   		 	status:Status,
	   		 	id:ID
   		 	 },function(res){
   		 	 	if(!res.status){
   		 	 		Alert("当前分类下存在子类或存在商品不能被修改状态")
   		 	 		$this.attr('checked',Status)
   		 	 	}else{
   		 	 		sTip("操作成功")
   		 	 	}

   		 	 	console.log(res);
   		 	 })
   		 
   		 })
     });
    	
	</script>
</block>