<extend name="Web/projectDefault" />

<block name="css_files">
  <style>
	.couponBusiness_alertEdit .couponAddrTrade b{
		cursor: pointer; 
	}
	.userAreaSlt select{
        width:120px;
    }
	</style>
</block>
<block name="content" >
	<div id="kbVipAdmin_rightCenter" class="couponTrade_center OrderForm">
		 <div class="centerTitle">
	      <h1>行业列表</h1>
	   </div>
	   <div class="kbVipAdmin_operating">
	   	<p class="authAddBtn">
	   		<input class=" adminFont kbVipAdmin_opt w80 h30 addCouponTrade"  type="button" value="&#xe762;&nbsp;&nbsp;添加" />
	   	</p>
	   </div>
		<div class="main-contentBox">
			<div class="kbVipAdmin_table">
				<table class="roleList couponBusiness_roleList">
					<thead>
						<tr>
							<th>编号</th>
							<th>行业名称</th>
							<th>所属区域</th>
							<th>描述</th>
							<th>添加时间</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<foreach name="list" item="v">
						<tr>
							<td class="businessID">{{$v.id}}</td>
							<td>{{$v.business_name}}</td>
							<td>{{$v['address']}}</td>
							<td>{{$v.business_desc}}</td>
							<td>{{:date('Y年m月d日', $v['addtime'])}}</td>
							<td class="microWebMenuAdmin">
								<p class="kbVipAdmin_pushBtn">
									<input type="checkbox" value="" {{$v['status'] == '0'?'checked':''}} title=" {{$vo['status'] == '0'?'启用':'禁用'}}"/>
									<label><b></b></label>
								</p>
								
							</td>
							<td>
								<input class="adminFont kbVipAdmin_btnMenu couponListWirte" type="button" value="&#xe601;&nbsp;编辑" />
								<input class="adminFont kbVipAdmin_btnMenu" type="button" value="&#xe606;&nbsp;删除" onclick="businessDel(this)" />
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<!-- 分页位置 -->
			<div class="kbVipAdmin_page">
				<div class="pageSize">
					{{$page}}
				</div>
				<div class="pageJump">
				<form>	
					<input class="w60  fl" type="text" name="p" value="{{:I('get.p')}}" />
					<input type="submit" class="fl" value="跳转">
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="kbVipAdmin_alert couponBusiness_alertWriter">
		<div class="kbVipAdmin_alertBox ">
		<button class="kbVipAdmin_alert-close adminFont"></button>
		<h3>添加行业</h3>
		<form class="couponBusiness_FormParent pt10" action="{{:U('businessAdd')}}" method="post">
			<div class="kbVipAdmin_form">
				<p class="kbVipAdmin_enter">
					<b><i>*</i>行业名称:</b>
					<input type="text" name="business_name" value="" />
				</p>
				<!-- <p class="couponAddrTrade"><b>所属区域：</b>
					<input type="text" value="" disabled="disabled" name="region" /><b>修改</b>
				</p> -->
				<div class="couponAddr userAreaSlt kbVipAdmin_enter">
					<b><i>*</i>所属区域:</b>
					<select>
						<option value="">请选择</option>
						<foreach name="region" item="v">
                            <option value="{{$v['id']}}">{{$v.region_name}}</option>
                        </foreach>
					</select> 
				</div>
				<div class="kbVipAdmin_textArea kbVipAdmin_enter">
					<b><i>*</i>描述:</b>
					<textarea name="business_desc"></textarea>
				</div>
			</div>
			<div class="kbVipAdmin_operating ">
			    <div class="kbVipAdmin_restsubmit"> 
			        
			        <input  class="kbVipAdmin_opt authAddFormSmt w100 h40" type="submit" value="添加" />
			    </div>
			</div>
			
		</form>
		</div>
	</div>
	<div class="kbVipAdmin_alert couponBusiness_alertEdit">
		<div class="kbVipAdmin_alertBox ">
		<button class="kbVipAdmin_alert-close adminFont"></button>
		<h3>编辑行业</h3>
		<form class="couponBusiness_FormParent pt10" action="" method="post">
			<div class="kbVipAdmin_form">
				<p class="kbVipAdmin_enter ">
					<b><i>*</i>行业名称:</b>
					<input type="text" name="business_name" value="" />
				</p>
				<p class="couponAddrTrade kbVipAdmin_enter">
				<b>所属区域：</b>
					<input type="text" value="" disabled="disabled" name="region_name" />
					<span>修改</span>
				</p>
				<p class="couponAddr userAreaSlt kbVipAdmin_enter" style="display:none">
					<b><i>*</i>所属区域:</b>
					<select>
						<option value="">请选择</option>
						<foreach name="region" item="v">
                            <option value="{{$v['id']}}">{{$v.region_name}}</option>
                        </foreach>
					</select>
				</p>
				<div class="kbVipAdmin_textArea kbVipAdmin_enter">
					<b><i>*</i>描述:</b>
					<textarea name="business_desc"></textarea>
				</div>
			</div>
			<div class="kbVipAdmin_operating ">
			    <div class="kbVipAdmin_restsubmit"> 
			        <input  class="kbVipAdmin_opt authAddFormSmt w100 h40" type="submit" value="保存" />
			    </div>
			</div>
		
		</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function(){

			$('.addCouponTrade').on('click',function(){
				$('.couponBusiness_alertWriter').fadeIn();
			});
			$('.couponListWirte').on('click',function(){
				$('.couponBusiness_alertEdit').fadeIn();
				var $this = $(this);
				var ID = $this.parent().siblings().eq(0).text();
		        $.get('{{:U("ajaxControl")}}',{flag:"selBusinessInfo",id:ID},function (res){
		        		for(r in res){
		        			switch(r){
		        				case "business_desc":
		        					$('.couponBusiness_alertEdit form').find('textarea[name="business_desc"]').val(res[r]);
		        				break;
		        				default:
		        				$('.couponBusiness_alertEdit form').find('input[name="'+r+'"]').val(res[r]);
		        			}
		        			
		        		}
			 			
				});
				$('.couponBusiness_alertEdit form').prop('action',"{{:U('businessUpdate')}}?id="+ID);
		        $('.couponAddrTrade span').on('click',function(){
					$('.couponAddr').fadeToggle();
					$('.couponTrade').fadeToggle();
					$(this).text(($(this).text()=="修改")? "取消":"修改");
					// var inputName=$(this).text(($(this).text()=="修改")? "取消":"修改");
				})
			});

			$('.couponAddr select').on('change',function (){
	            var a ;
	            a = parseInt($(this).attr('sta'));
	            var flag = 'address';
	            if (a === 3) 
	            {   
	                flag = 'region';
	            }
	            var fa = $(this).next();
	            var name = fa.find('option:eq(0)').text();
	            $.get('__MODULE__/Card/ajaxControl',{'flag':flag,'pid':$(this).val()},function (res){
	                var str = '<option value="">'+name+'</option>';
	                for(var k in res)
	                {
	                    str += '<option value="'+res[k].district_id+'">'+ res[k].name +'</option>';
	                }
	                fa.html(str);
	            });
	        });

	        $(' .microWebMenuAdmin input').on('click',function(){
	        	var $this= $(this);
	        	var couponAreaListStatus= $this.prop('checked')?0:1,
	        	id=$this.parents('tr').children('td').eq(0).text().trim();

	        	var ajaxUrl='{{:U("Business/ajaxControl")}}'
	        	// console.log(couponAreaListId);
	        	$.ajax({
					type:"GET",
					url:ajaxUrl,
					data:{
						flag:'changeBusinessStatus',
				        status:couponAreaListStatus,
				        id:id
					},
					dataType:"json",
					success:function(data){
						console.log(data);
						oTip(data);
					},
					error:function(error){
						console.log(error);
					}
				})
	        	
	        });

	        $('.userAreaSlt select').on('change',function(){
                var $this = $(this);
                var options=$this.children('option:selected');
                var optionsVal=options.val();
                var ajaxUrl='{{:U("Goods/ajaxControl")}}';
              	$('select[name=business_id]').children().not('option[value=-1]').remove();//区域选择有变动时，清除行业选择内容
                userAreaSltChild(this,ajaxUrl);
               
            });/*userAreaSlt select end */
		});

		function businessDel(obj)
		{
			var bool = Confirm('确定要删除吗?',function(res){
				if(res){
					$.get('{{:U("ajaxControl")}}',{flag:'del',id:$(obj).parents('td').siblings('.businessID').text()},function(res){
						if (res == 2) 
						{
							oTip('此行业下还存在商户,不能删除');
						}else{
							oTip(res);
							$(obj).parent().parent().remove();
						}
					});
				}
			});
			
		}
	</script>
</block>