<extend name="Common/seconCom" />
<block name="css_files">
  <style>
      .dl_addrWrite{
        line-height:40px;
        text-align:center;
      }
      .dl_addrWrite:active{
        opacity:.5;
      }
      .dl_addrOpera{
        display:none;
      }
      .kb_cell-href .kb_cell-ft::after{
        display:none;
      }
      .dl_addre-wirteStatus .dl_addrOpera,
      .dl_addre-wirteStatus .kb_cell-href .kb_cell-ft::after{
        display:block;
      }
      .dl_addre-wirteStatus .kb_cell-ft .kb_choose{
        display:none;
      }
  </style>
</block>
<block name="leftNav">
  <if condition="$_GET['companyName'] AND $_GET['tem']" >
    <a href="http://{{$_SERVER['HTTP_HOST']}}/{{:I('get.tem')}}/VisitorInfo/myCenter?companyName={{:I('get.companyName')}}" class="icon-back w"></a>
  <else />
    <a href="{{:U('VisitorInfo/myCenter')}}" class="icon-back w"></a>
  </if>
</block>
<block name="title">
  地址管理
</block>
<block name="rightNav">
 <!--  <label class="kb_choose w h dl_addrWrite tc">
    <input type="checkbox" value=""  />
    <b>编辑</b>
  </label> -->
</block>
<block name="content">
    <section id="Main" class="kb_main bc tg_addrList dl_addre-wirteStatus ">
    <volist name="list" id="v">
      <article class="dl_addre-cell main_bg   mb20">
        <a href="{{:U('VisitorAddress/addressInfo')}}?addr_id={{$v['id']}}" class="kb_list-cell kb_cell-href  kb_list-cell_big mb10">
          <div class="kb_list-cell-hd">
              <img src="__PUBLIC__/trading/images/tr-position.png" alt="" class="w20 h20" />
          </div>
          <aside class="kb_list-cell-bd">
            <p class="mb10 f18">
                <if condition="$v['status']" >
                  <em class="tg_btn-status-main">默认</em>
                </if>
                  <em class="mr30">{{$v.consignee}}</em>
                  <em>{{$v.phone}}</em>
            </p>
            <p class="kb_list-cell-brief">{{$v.address_str}}</p>
          </aside>
          <footer class="kb_cell-ft">
            <label class="kb_choose ml10 mt10">
              <input type="radio" value="" name="slta1" {{$v['status']?'checked':''}} />
              <span class="kb_choose-check kb_choose-check_radio">
                <b class="kb_choose-check-default kb_choose-check_main"></b>
              </span>
            </label>
          </footer>
        </a>
        <p class="dl_addrOpera pb10"> 
            <label class="kb_choose ml15">
              <input type="radio" name="status" value="{{$v['id']}}" {{$v['status']?'checked':''}} />
              <span class="kb_choose-check kb_choose-check_radio">
                <b class="kb_choose-check-default kb_choose-check_main"></b>
              </span>
            </label>
            <em class="dl_addrOpera-txt f15">默认地址</em>
          </p>
      </article>
    </volist>
    </section>
</block>
<block name="footer">
  <footer id="Footer" class="kb_footer ">
    <a href="{{:U('VisitorAddress/addressAdd')}}" class="kb_btn kb_btn-main fb dl_addre-add  "><em style="font-weight: none">+</em>&nbsp;新增地址</a>
  </footer>
</block>
<block name="js_files">
<script>
  // $('.dl_addrWrite input').on('click',function(){
  //     var $this=$(this);
  //     $('.kb_main').toggleClass('dl_addre-wirteStatus');

  // })
  // $('.kb_list-cell').on('click',function(){
  //       return  $('.dl_addrWrite input').prop('checked');
  // })
  $('input[name="status"]').on('click', function(){
    $.get('{{:U("ajaxControl")}}',{flag:'saveDefault', id:$(this).val()},function(res){
      if (res) {
        alert('设置成功');
        window.location.reload();
      }else{
        alert('设置失败')
      }
    })
  });
</script>
</block>
