<extend name="Common/secondCom" />
<block name="css_file" >
	<style>
		#showimg img{  
		 	max-width: 360px; /*图片自适应宽度*/  
		}
		.title{
			border-bottom:1px solid #eee;
		}
	</style>
	<php>
		//echo '<pre>';
		//var_dump($newsInfo);exit;
	</php>
</block>
<block name="bsTitle">
	动态详情
</block>

<block name="content" >
	<section id="bsMain" class="noFooter bsNews bsNewsDetail">
		<!-- <p class="imgWidt">
			<img src="__PUBLIC__/images/1.png" alt="" />
		</p> -->
		<article>
			<h1 class="mb10 tc"> {{$newsInfo['news_name']}}</h1>
			<p class="title c666 mb10 pb10">
				<em id="showimg">
					{{$newsInfo['title']}}
				</em>
				<time class=" mr10 fr">
					{{:date('Y-m-d H:i:s',$newsInfo['addtime'])}}
				</time>
			</p>
			{{$newsInfo['img_path']}}
		</article>
	</section>
</block> 
<block name="js_file">
	<script>
	
	</script>
</block>