<extend name="web/default" />
<block name="flies">

</block>
<block name="content">
    <div id="right" class="merchantadd">
        <form class="form-horizontal" method="post" action="cardadd.html"  enctype="multipart/form-data">
            <div class="form-group">
                <label class="control-label col-sm-2" for="id">网站作者</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="id" value="" placeholder="请输入网站作者" required="required">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">网站关键词</label>
                <div class="col-sm-5">
                    <textarea class="form-control" name="" rows="5" cols="" placeholder="请输入网站关键词" require style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">网站描述</label>
                <div class="col-sm-5">
                    <textarea class="form-control" name="" rows="5" cols="" placeholder="请输入网站描述" require style="resize: none;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="">网站ICP备案号</label>
                <div class="col-sm-5">
                    <input class="form-control" type="text" name="cardname" value="" placeholder="请输入卡券的名称" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 col-sm-push-2">
                    <button class="btn btn-default" type="submit">修改信息</button>
                </div>
            </div>
        </form>
    </div>
</block>