<extend name="Common/websiteCom" />
<block name="css_file">
    <link href="__PUBLIC__/oneselfCore/oneselfCoreCSS/oneselfCore.css?t=1.0" rel="stylesheet" />
  <style>
    body{
      color:#282727;
    }
    .register{
      margin-top:65px;
    }
    .register p{
      width:258px;
      margin-left:auto;
      margin-right:auto;
    }
    .register p input{
       border:none;
       margin-bottom:12px;
       background-color:transparent;
       font-size:14px;
       height:100%;
       height:35px;
    }
    .register p:nth-child(1) input{
      width:256px;
      border-bottom:1px solid #878686;
      text-indent:10px;
    }
    .register p:nth-child(2) input{
      width:150px;
      border-bottom:1px solid #878686;
      text-indent:10px;
    }
    .register p:nth-child(2) button{
      margin-left:20px;
      width:86px;
      height:35px;
      border-radius:5px;
      color:#fff;
      background-color:#0764b6;
      border:1px solid #0764b6;
       margin-bottom:12px;
    }
    .register p:nth-child(2) button:disabled{
        background:rgba(7,100,182,.3);
        border:1px solid rgba(7,100,182,.3);
    }
    .register p:last-child{
      width:268px;
      margin-top:43px;
    }
    .register p input[type="submit"]{
      width:100%;
      border-radius:5px;
      border:none;
      background:rgba(7,100,182,1);
      color:#fff;
    }
    .register p input[type="submit"]:disabled{
      background:rgba(7,100,182,0.6);
    }
     #cardCenter{
      padding-top:65px;
      margin-top:0; 
    }
  </style>
</block>
<!-- <block name="leftNav">
  <a  href="javascript:;" onclick="javascript :history.back(-1);"><img src="__PUBLIC__/oneselfCore/oneselfCoreImages/09back_icon_link_default.svg" atl="返回" /></a>
</block> -->
<block name="secondtitle">
  注册
</block>
<block name="content">
    <form class="register" action="{{:U('visitorSignIn')}}" method="get" enctype="multipart/form-data">
      <p><input type="tel" value="" placeholder="请输入手机号码" name="phone" onblur="" /> </p>
      <p><input type="text" value="" placeholder="请输入验证码" name="code" /><button id="Verification" type="button" onclick="verifyTel()">获取验证码</button>
     
       </p>
      <p class="tip colorff0000"></p>
      <p class="bc"><input  type="submit" value="下一步" /></p>
    </form>
</block>
<block name="js_file">
  <script>
    /*  var time1=("time1")||60;
     var dis1=document.cookie("dis1"); */
     function Cookie(cval){
        var cval=cval;
        var CookieArr=document.cookie.split(';');
        for(var i=0;i<CookieArr.length;i++){
          var arr=CookieArr[i].split("=");
          if(cval==arr[0].trim()){ 
            cval=arr[1]; 
            break; 
          } 
          if(i==CookieArr.length-1){
           
            cval=false;
          }
        }
        return cval;
     }
     function countDown($obj){
      var time;
      var timeVal=(Cookie('time1')==false)? 60:Cookie('time1');
       time=--timeVal;
       document.cookie="time1="+time;
       if(time<=0){
        time1=60;
        $obj[0].disabled=!$obj[0].disabled
        clearInterval(inter1) 
        $obj.text("重新发送")
        document.cookie="dis1="
        return
       }
      $obj.text(time+"秒")
     }
     
     $(function(){
       var a1=Cookie('dis1');
      if(a1=='dis'){
       $("#Verification").prop('disabled',true)
       inter1=setInterval(function(){countDown($("#Verification"))},1000)
      }
      $("#Verification ").bind("click",function(){
       $this=$(this);
       //没有被禁用时禁用并执行倒计时
       if(!$this.prop('disabled')){
         $this.prop('disabled',true);
         document.cookie="dis1=dis";
         document.cookie="time1=60";
         inter1=setInterval(function(){countDown($this)},1000)
       }
      })
      
    })
     function verifyTel(){
          var $this=$('input[name="phone"]');
          var tel=$this.val().trim();
          console.log(tel);
           $.get('{{:U("Login/ajaxControl")}}',{flag:'smsToVisitorVerify',phone:tel}, function(data) {
              switch(data){
                case 1:
                  $('.tip').text("已经发送验证码到该手机，请注意查收");
                break;
                case 3:
                  $('.tip').text("该手机已绑定账号，请确认号码是否正确");
                break;
                case 4:
                  $('.tip').text("验证码已经发送，请耐心等待");
                break;
                case 5:
                  $('.tip').text("该手机号码已经注册！");
                  Confirm('该手机号码已经注册！','温馨提醒','返回登录',function(res){
                    if(res) window.location.href="{{:U('Login/defaultLogin')}}"
                  })
                break;
                default:
                  $('.tip').text(data);
                break;
              }
          });
      }
  </script>
</block>
  

