<extend name="Common/websiteCom" />
<block name="css_file" >
	<link href="__PUBLIC__/js/module/LArea/LArea.css?t=1.2" rel="stylesheet" />
</block>
<block name="header" >
	<header id="bsHeader" class="bsHeader">
		<nav>
			<a class="icon-back" href="javascript:;" onclick="javascript:history.back(-1)">
			</a>
		</nav>
		<h1>添加地址</h1>
		<nav>
			
		</nav>
	</header>
</block>

<block name="content" >
	<section id="bsMain" class="bsGoods bsAddReceiptAddr">
	<if condition="$_GET['order']" >
		<form action="{{:U('addressAdd', ['companyName' => $_GET['companyName'],'order' => $_GET['order']])}}" method="post">
	<else />
		<form action="{{:U('addressAdd', ['companyName' => $_GET['companyName']])}}" method="post">
	</if>
		<ul class="bsForm">
			<li class="bsFormTxt">
				<label>收货姓名:</label>
				<input type="text" name="consignee" value="" placeholder="请输入..."/>
			</li>
			<li class="bsFormTxt">
				<label>手机号码:</label>
				<input type="tel" name="phone" value=""  placeholder="请输入..." placeholder="请输入..."/>
			</li>
			<li class="bsFormTxt">
				<label>所在地区:</label>
				<input id="nowCity" type="text" name="city" value="" placeholder="请输入你现居的城市" readonly />
	        <input id="nowCityhide" type="hidden" value="" placeholder="" />
			</li>
			<li class="bsFormTxt">
				<label>详细地址:</label>
				<input type="text" value="" name="address_str"  placeholder="请输入..."/>
			</li>
			<li class="bsFormTxt" >
				<label>设为默认</label>
				<p class="choose pushBtn  mr10">
					<input type="checkbox" name="status" value="1"/>
					<label>

					</label>
				</p>
			</li>
			
		</ul>
		<p class="bsFormSumit tc">
			<input class="defineBtn btnColor00bec5 f14"  type="submit" value="保存" />
		</p>
	</form>
	</section>
</block>
<block name="footer" >
	
	<script>
		$(function(){
			$('.addShopCarBtn').on('click',function(){
				$('.Popout').slideDown();
			})
			 (function(){
 	        	var area1 = new LArea();
 	      		// var Address=new Array();
 	      		 	$.get("{{:U('VisitorInfo/ajaxControl')}}",{flag:'getAddress',companyName:"{{$_GET['companyName']}}"}, function(data) {
	 	      		 	var Address = JSON.parse(data)
	 	      		 	area1.init({
			 	           'trigger': '#nowCity', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
			 	           'valueTo': '#nowCityhide', //选择完毕后id属性输出到该位置
			 	           'keys': {
			 	               id: 'district_id',
			 	               name: 'name'
			 	           }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
			 	           'type': 1, //数据源类型
			 	           'data': Address //数据源
			 	          
			 	       });
			 	       // console.log(LAreaData);
			 	       area1.value=[1,13,3];//控制初始位置，注意：该方法并不会影响到input的value
 	      		 	});
	 	       
 	        }())
		/*  var area1 = new LArea();
         area1.init({
             'trigger': '#nowCity', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
             'valueTo': '#nowCityhide', //选择完毕后id属性输出到该位置
             'keys': {
                 id: 'id',
                 name: 'name'
             }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
             'type': 1, //数据源类型
             'data': LAreaData //数据源

         });
         area1.value=[1,13,3];//控制初始位置，注意：该方法并不会影响到input的value */
		})
	</script>
</block>
<block name="js_file">
	<script src="__PUBLIC__/js/module/LArea/LAreaData1.js"></script>
	<script src="__PUBLIC__/js/module/LArea/LAreaData2.js"></script>
	<script src="__PUBLIC__/js/module/LArea/LArea.js"></script>
</block>
	