<extend name="Web/companyCom" />
<block name="css_files">
<link rel="stylesheet" href="__PUBLIC__/Business/BusinessCSS/companyInfo/companyInfo.css?version=1.1"></link>
	<link rel="stylesheet" href="__PUBLIC__/JS/module/datenew/css/jquery-ui-1.9.2.custom.css?v=1" type="text/css">

<style>
.kbShopAdmin_alertBox article{
	width:92%;
	margin-left:auto;
	margin-right:auto;

}
.RefundsBtn_opt p{
	margin-bottom:10px;
}
.RefundsBtn_opt li:nth-child(2){
	display:none;
}
.filter-operating form{
			display:inline-block;
			vertical-align:top;
		}
</style>
</block>
<block name="content" >
<!-- 主内容 -->
	<div id="kbShopAdmin_rightCenter" class="OrderForm">
		<!-- 内容标题部 -->
		<div class="centerTitle">
			<div class="kbShopAdmin_operating filter-operating" >
				<form>
					<div class="filterData">
					<input type="text" class="ui-datepicker-time" readonly="readonly"  value="" />
					<input class="start" type="hidden" name="start" value="" />
					<input  class="end"  type="hidden" name="end" value="" />
					<button class="kbShopAdmin_opt w80 h30" type="submit">确定</button>
					</div>
				</form>
				<form >
				<span class="kbShopAdmin_enter"><input type="text" name="out_refund_no" value="{{:I('get.out_refund_no')}}" style="width: 200px" placeholder="请输入退款订单号进行搜索" ></span>
				<button class="kbShopAdmin_opt w80 h30" type="submit">确定</button>
				</form>
			</div>
		</div>
		<div class="kb_table-filter mb10">
			<nav class="hrefFlex">
				<a class="{{$_GET['status']?'':'selected'}}" href="{{:U('')}}">全部退款</a>
				<a class="{{$_GET['status'] == 1?'selected':''}}" href="{{:U('orderList', ['status' => 1])}}">申请退款</a>
				<a class="{{$_GET['status'] == 2?'selected':''}}" href="{{:U('orderList', ['status' => 2])}}">已退款</a>
				<a class="{{$_GET['status'] == 3?'selected':''}}" href="{{:U('orderList', ['status' => 3])}}">拒绝退款</a>
			</nav>
			<button class="kbShopAdmin_opt  h30" type="button" onclick="javascript:window.location.href='?getExcel=1'">下载Excel</button>

		</div>
		<!-- 内容标题部结束 -->
		<!-- 内容表格部 -->
		<div class="main-contentBox kbShopAdmin_mt24" >
			
			<div class="kbShopAdmin_table mb20	">
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>申请时间</th>
							<th>订单号</th>
							<th>微信支付单号</th>
							<th>订单金额</th>
							<th>用户信息</th>
							<th>退款状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="list" id="v">
						<tr>
							<td><p>{{$v.id}}</p></td>
							<td><p>{{:date('Y年m月d日 H时i分s秒', $v['create_time'])}}</p></td>
							<td>
								<p>{{$v.out_trade_no}}</p>
							</td>
							<td><p>{{$v['transaction_id']?$v['transaction_id']:'余额支付'}}</p></td>
							<td><p>￥{{$v.total_fee}}</p></td>
							
							<td>
								<p>用户ID: {{$v.visitor_id}}</p>
								<p>用户名称: {{$v.visitor_name}}</p>
							</td>
							<td>
								<p>
									<switch name="v.status" >
										<case value="0" >申请中</case>
										<case value="1" >已退款</case>
										<case value="2" >拒绝退款</case>
									</switch>
								</p>
							</td>
							<td>
								<p class="mb10">
									<a href="{{:U('orderInfo',['id' => $v['id']])}}" class=" kbShopAdmin_button_eee">查看</a>
								</p>
								<if condition="$v['status'] eq 0" >
									<p class="mb10">
									<input class="kbShopAdmin_opt RefundsBtn" refundID="{{$v.id}}" type="button" value="退款操作" v-on:click="RefundsBtn('{{$v.id}}')"/>
									</p>
								</if>
							</td>
						</tr>
					</volist>
						<!-- <volist name="list" id="v" > -->
					<!-- </volist> -->		
					</tbody>
				</table>
			</div>
			<div class="kbShopAdmin_page">
				<div class="pageSize">
					{{$page}}
				</div>
				<div class="pageJump">
				<form action="{{:U('orderList')}}">	
					<input class="w60  fl" type="text" name="p" value="{{:I('get.p')}}" />
					<input type="submit" class="fl" value="跳转">
				</form>
				</div>
			</div>
		</div>
		
		<div id="showExpressInfo" class="kbShopAdmin_alert showExpressInfo ">
			<div class="kbShopAdmin_alertBox ">
				<button type="button" class="kbShopAdmin_alert-close " v-on:click="hideExpressInfo"></button>
				<h3 class="mb10">睇睇去到边</h3>
					<article>
						<h4>交易信息</h4>
						<p>微信支付单号：{{info.transaction_id}}</p>
						<p>商品订单号：{{info.transaction_id}}</p>
						<p>订单金额：{{info.total_fee}}</p>
						<p>退款原因：{{info.refund_remark}}</p>
					</article>
				<hr/>
				<form action="{{:U('wxRefund')}}" method="post">
					<article>
						<p class="mb10 tc RefundsBtn_btn">
							<button  type="button" class="kbShopAdmin_opt kbShopAdmin_opt_7facff" v-on:click="RefundsBtn_btn($event)">同意退款</button>
							<button type="button" class="kbShopAdmin_opt" v-on:click="RefundsBtn_btn($event)">拒绝退款</button>
						</p>
						<ul class="RefundsBtn_opt">
							<li class="kbShopAdmin_enter agreeReturn" v-if="blockControl">
								<p>
									<b><i>*</i>退款金额:</b>
									<input class="remarkMoney" type="number" name="refund_fee" value=""   placeholder="退款金额" required="required" />
								</p>
								<p>
									<b><i>*</i>同意退款备注:</b>
									<input class="remark" type="text"  value=""  name="admin_remark" placeholder="同意退款备注" required="required" />
								</p>
							</li>
							<li class="kbShopAdmin_enter refuseReturn" v-else>
								<p>
									<b><i>*</i>拒绝原因:</b>
									<input class="remark" type="text"  name="admin_remark" value=""   placeholder="请说明拒绝理由" required="required" />
								</p>
							</li>
						</ul>
					</article>
					<div class="kbShopAdmin_operating">
						<div class="kbShopAdmin_restsubmit">
							<input v-on:click="RefundsSmt($event)"  class="kbShopAdmin_button_005aff w80 h30 tc" type="button" value="好的" />
						</div>
					</div>
				</form>
			</div>
		</div>
	<div class="ui-datepicker-css">	
	    <div class="ui-datepicker-quick">
	        <p>快捷日期<a class="ui-close-date">X</a></p>
	        <div>
	            <input class="ui-date-quick-button" type="button" value="今天" alt="0"  name=""/>
	            <input class="ui-date-quick-button" type="button" value="昨天" alt="-1" name=""/>
	            <input class="ui-date-quick-button" type="button" value="7天内" alt="-6" name=""/>
	            <input class="ui-date-quick-button" type="button" value="14天内" alt="-13" name=""/>
	            <input class="ui-date-quick-button" type="button" value="30天内" alt="-29" name=""/>
	            <input class="ui-date-quick-button" type="button" value="60天内" alt="-59" name=""/>
	        </div>
	    </div>
	    <div class="ui-datepicker-choose">
		        <p>自选日期</p>
		        <div class="ui-datepicker-date">
		            <input name="startDate" id="startDate" class="startDate" readonly value="2014/12/20" type="text">
		           -
		            <input name="endDate" id="endDate" class="endDate" readonly  value="2014/12/20" type="text" disabled onChange="datePickers()">
		        
		        </div>
		    </div>
		</div>
	</div>
		
</block>
<block name="js_files">
	<script type="text/javascript" src="__PUBLIC__/JS/module/datenew/js/jquery-ui-1.9.2.custom.js"></script>
	<script type="text/javascript" src="__PUBLIC__/JS/module/datenew/js/share.js?v=1.11"></script>
	<script>

		  $(function(){
   		
	   		$('.kbShopAdmin_alert .kbShopAdmin_operating input[type="reset"]').on('click',function(){
	   			$('.kbShopAdmin_alert').fadeOut();
	   		});
	   		(function(){
	   			var app=new Vue({
	   				el:'#showExpressInfo',
	   				data:{
	   					info:{},
	   					blockControl:true
	   				},
	   				methods:{
				   		RefundsBtn_btn:function(event){
				   			var RefundsBtn_btn=$('.showExpressInfo .RefundsBtn_btn button');
				   				$this=$((event.srcElement)?event.srcElement:event.target);
				   				indexs=RefundsBtn_btn.index($this);

				   			$this.addClass('kbShopAdmin_opt_7facff').siblings().removeClass('kbShopAdmin_opt_7facff');
				   			if(indexs==0){
				   				this.blockControl=true;
					   		
				   			}else{
				   				this.blockControl=false;
				   				
				   			}
				   		},
	   					RefundsSmt:function(event){
	   						var $this=$((event.srcElement)?event.srcElement:event.target),
	   							Required=$this.parents('form').find('.kbShopAdmin_enter'),
	   							status=false,	
	   							url=$this.parents('form').attr('action'),
	   							formData=new FormData();
	   						if(app.blockControl){
	   							if(Required.find('.remarkMoney').val()<=parseInt(app.info.total_fee) && Required.find('.remark').val().length){
	   								status=true;
	   							}else{
	   								Alert("退款金额或退款原因不能为空");
	   							}

	   						}else{
	   							if(Required.find('.remark').val().length>0){
	   								status=true;
	   							}else{
	   								Alert("请填写拒绝退款原因");	
	   							}
	   						}
	   						Required.find('input[name]').each(function(indexs,elem){
								formData.append($(elem).attr('name'),$(elem).val());
							});
	   						if(status){
   						        $.ajax({  
   						            url: url ,  
   						            type: 'POST',  
   						            data: formData,  
   						            enctype: 'multipart/form-data',
   						            async: false,  
   						            cache: false,  
   						            contentType: false,  
   						            processData: false,  
   						            success: function (res) { 
   						            	if(res.status=='true'){
   						            		sTip('操作成功');
   						            	}else{
					            			eTip(res.err_msg);
   						            	}
   						          		console.debug(res);
   						          		$('.showExpressInfo').fadeOut();
   						            },  
   						            error: function (returndata) {  
   						                alert(returndata);  
   						            }  
   							     }); 
	   						}

	   					},
	   					hideExpressInfo:function(){
	   						$('.showExpressInfo').fadeOut();
	   					}
	   				}
	   			});
	   			$('.RefundsBtn').on('click',function(){
		   			var $this=$(this),
				   		id=$this.parents('tr').children('td').eq(0).children('p').text().trim();
			   			$('.showExpressInfo  form').attr('action', '{{:U("wxRefund")}}?id='+$(this).attr('refundID'));

			   			$('.showExpressInfo').fadeIn();
			   			$.get("{{:U('WechatRefund/ajaxControl')}}",{
			   				flag:'orderInfo',
			   				id:id
			   			},function(res){
			   				console.log(res);
			   				app.info=res;
			   			})
	   			})
	   		})();
         });
   	</script>
</block>