<extend name="Common/websiteCom" />
<block name="header" >
	<header id="bsHeader" class="bsHeader">
		<nav>
			<a class="icon-back" href="javascript:;" onclick="javascript:history.back(-1)">
			</a>
		</nav>
		<h1>请选择收货地址</h1>
		<nav>
			<a  href="{{:U('VisitorAddress/addressList', ['companyName' => $_GET['companyName'],'order' => $_GET['order']])}}">编辑</a>
		</nav>
	</header>
</block>
<block name="content" >
	<section id="bsMain" class="bsGoods noFooter receiptAddrList">
	<volist name="list" id="v" >
		<!-- <a href="javascript:;" > -->
			<article class="receiptShopAddr" adrID="{{$v.id}}">
				<p>
					<b>{{$v.consignee}}</b>
					<b>{{$v.phone}}</b>
				</p>
				<p>{{$v.address_str}}</p>
				</a>
			</article>
		<!-- </a> -->
		<p class="bsSeparate"></p>
	</volist>
	</section>
</block>
<block name="footer">
<footer id="bsFooter" class="defaultFooter bsFooter">
		<switch name="info.status" >
		<case value="0" >
			<p>
				<input class="defineBtn mr10 btnColorFFF bc" type="button" value="取消订单" />
			</p>
			<p>
				<input class="defineBtn btnColor00bec5 bc" id="pay" type="button" value="确认支付" />
			</p>
		</case>
		<case value="2" >
			<p>
				<input class="defineBtn mr10 btnColorFFF bc" type="button" value="交易已关闭" />
			</p>
		</case>
		<case value="2" >
			<p>
				<input class="defineBtn mr10 btnColorFFF bc" type="button" value="退款" />
			</p>
			<p>
				<input class="defineBtn btnColor00bec5 bc" id="pay" type="button" value="确认收货" />
			</p>
		</case>
		</switch>
		
	</footer>
	<script>
		$(function(){
			$('.addShopCarBtn').on('click',function(){
				$('.Popout').slideDown();
			});

			$('.receiptShopAddr').on('click', function(){
				var data = {
					flag:'changeAddr',
					orderID:'{{$_GET["order"]}}',
					id:$(this).attr('adrID'),
					companyName:'{{$_GET["companyName"]}}'
				};
				$.get('{{:U("ajaxControl")}}',data,function (res){
					if (res) {
						window.location.href=res;
					}
				})
			});
		})
	</script>
</block>