<extend name="Web/companyCom" />
<block name="css_files">
	<link rel="stylesheet" href="__PUBLIC__/Business/BusinessCSS/companyInfo/companyInfo.css?version=1.1"></link>

	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/JS/module/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/JS/module/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/JS/module/ueditor/lang/zh-cn/zh-cn.js"></script>
	<style>
		.optionsCard{
			position:absolute;
			border:1px solid #eee;
			z-index:30;
			background-color:#fff;
		}
		.optionsCard::before{
			content:'';
			display:block;
			width:10px;
			height:10px;
			border-left:1px solid #eee;
			border-top:1px solid #eee;
			transform:rotate(45deg);
			position:absolute;
			top:-5px;
			left:38px;
			background-color:#fff;
		}
		.optionsCard li{
			display:flex;
			border-bottom:1px solid #eee;
			padding:5px;
		}
		.optionsCard li:last-child{
			border-bottom:none;
		}
		.optionsCard li p:nth-child(1){
			flex-basis:25px;
			margin-right:10px;
		}
		.optionsCard li p:nth-child(2){
			flex-grow:4;
		}

	</style>
</block>
<block name="content" >
	<div id="kbShopAdmin_rightCenter" class="mb10 spAnProductList"><!-- 内容页开始 -->
			<div class="centerTitle">
				<input class="kbShopAdmin_opt kbShopAdmin_add  w100 h30" type="button" value="添加分组" />
			</div>
			
			
			<div class="kb_table-filter mb10">
				<form action="" method="get" style="display:inline-block">
					<select class="kbShopAdmin_slt w200 h30" name="job_id" title="可选择分类查找相关商品">
						<option value="">全部类型</option>
						<foreach name="jobList" item="v">
							<option value="{{$v.id}}">{{$v.job_name}}</option>
						</foreach>
					</select>
						<!-- <input type="submit" class="kbShopAdmin_opt  w80 h30" value="确认查找"> -->
				<div class="filter-searchDate mr10">
						<input type="search" name="" value="" placeholder="请输入用户呢称" />
						<input class="kbShopAdmin_opt w80 h30 fr" type="submit" value="确定" />
				</div>
				</form>
			</div>
			<div class="spAnProductList-operating kbShopAdmin_mt24" >
			<div class="kbShopAdmin_table mb20">
				
				<table>
					<thead>
						<tr>
							<th width="50">员工ID</th>
							<th>职称</th>
							<th>店内昵称</th>
							<th>员工LOGO</th>
							<th>性别</th>
							<th>分组</th>
							<th>电话号码</th>
							<th>服务次数</th>
							<th>状态</th>
							<th width="25%">操作</th>
						</tr>
					</thead>
					<tbody>
					<volist name="list" id="v" >
						<tr data-id="{{$v.visitor_id}}">

							<td><p>{{$v.id}}</p></td>

							<!-- <td style="display: none"></td> -->
							<td><p>{{$v['professional_title']?$v['professional_title']:'未设置'}}</p></td>
							<td><p>{{$v['store_nickname']?$v['store_nickname']:'未设置'}}</p></td>
							<td><p><img src="__PUBLIC__{{$v.staff_logo}}" width="80" alt=""></p></td>
							<td><p>{{$v['sex'] == 1?'男':'女'}}</p></td>
							<td><p>{{$v.job_name}}</p></td>
							<td><p>{{$v.phone}}</p></td>
							<td><p>{{$v.subscribe_total}}</p></td>
							<td>
								<p class="kbShopAdmin_pushBtn">
									<input type="checkbox" value="{{$v['status']}}" {{$v['status']?'':'checked'}} />
									<label><b></b></label>
								</p>
							</td>
							<td width="25%">
								<div class="kbShopAdmin_tdAction">
								<input class=" kbShopAdminSea mb10" type="button" value="" title="详情"  />
								<input class=" kbShopAdminStaffupdate mb10" type="button" value="" staffID="{{$v.id}}" title="员工"  />
								<input class=" kbShopAdminStaffClass mb10" staffID="{{$v.id}}" type="button" value="" title="分组"  />
								<input class=" kbShopAdminDel mb10" type="button" value="" title="删除"  />

								</div>
							</td>
						</tr>
					</volist>
					</tbody>
				</table>
				<!-- 表格页数开始 -->
				<div class="kbShopAdmin_page mb10">
					<div class="pageSize">
						{{$page}}
						<script type="text/javascript">
							$('.pageSize a:first-child').addClass('prevPage');
							$('.pageSize a:last-child').addClass('nextPage');
						</script>
					</div>
					<div class="pageJump">	
					<form >
						<input class="w60  fl" type="text" name="p" placeholder="{{:I('get.p')}}" />
						<input type="submit" class="fl" name="" value="跳转">
					</form>		
					</div>
				</div>
				<!-- 表格页数结束 -->
			</div>
			<!-- 表格结束 -->
			</div>
	</div><!-- 内容页结束 -->

	<div class="kbShopAdmin_alert  addInfo_alert">
			<div class="kbShopAdmin_alertBox">
				<button type="button" class="kbShopAdmin_alert-close "></button>
				<h3 class="mb10">设计师资料</h3>
				<form  action="{{:U('staffUpdate')}}" method="post" class="checkForm" enctype="multipart/form-data">
				<div class="formDate">
					<ul id="saffInfo">
						<li class="kbShopAdmin_enter" >
							<b><i>*</i>呢称:</b>
							<input type="text" name="store_nickname" v-bind:value="info.store_nickname" maxlength="8" placeholder=""  required="required"/>
							<strong class="kbShopAdmin_tip">必填项。文字不超过8个</strong>
						</li>
						<li class="kbShopAdmin_enter" >
							<b><i>*</i>职称:</b>
							<input type="text" name="professional_title" v-bind:value="info.professional_title" placeholder=""  maxlength="10" required="required"/>
							<strong class="kbShopAdmin_tip">必填项。文字不超过10个</strong>
						</li>
						<li class="kbShopAdmin_enter" >
							<b>特长:</b>
							<input type="text" name="speciality" v-bind:value="info.speciality" maxlength="10" placeholder="" />
							<strong class="kbShopAdmin_tip">选填项。文字不超过30个</strong>
						</li>
						<li class="kbShopAdmin_enter" >
							<b><i>*</i>设计风格:</b>
							<input type="text" name="style" v-bind:value="info.style" placeholder="如有多个风格用逗号','隔开"  required="required"/>
							<strong class="kbShopAdmin_tip">必填项。多个标签用”逗号”隔开</strong>
						</li>
						<li class="kbShopAdmin_enter kbShopAdmin_fileImg"><b><i>*</i>形象封面:</b>
							<div class="fileImgMore">
							<div v-if="info.staff_logo" class="shopImg businessFileImgList">
								<img v-bind:src="'__PUBLIC__'+info.staff_logo" alt="">
							</div>

							<input id="shopImg" name="staff_logo" type="file" value="dafult"  />
							<label class="" for="shopImg">
								<span style="font-size:27px">+</span><br />
								<span>选择一张图片作为形象封面</span>
							</label>
							</div>
							<strong class="kbShopAdmin_tip">图片格式为png,jpg格式,大小不超过200K</strong>
						</li>
						<li class="kbShopAdmin_enter kbShopAdmin_fileImg"><b><i>*</i>形象图片:</b>
							<div class="fileImgMore">
									<div class="shopImg businessFileImgList" v-for="(value, key) in info.staff_image">
										<img v-bind:src="'__PUBLIC__'+value" alt="">
									</div>
								<input id="shopImg1"  type="file" name="staff_image[]" value="dafult" multiple="multiple" />
								<label class="" for="shopImg1" >
									<span style="font-size:27px">+</span><br />
									<span>选择一张图片作为形象图片</span>
								</label>
							</div>
							<strong class="kbShopAdmin_tip">图片格式为png,jpg格式,大小不超过200K.最多可上传五张图片</strong>
						</li>
					</ul>
						<div class="kbShopAdmin_enter">
							<b>描述详情:</b>
							<div id="myEditor" class="myEditor">
								<script id="container" name="introduce" type="text/plain">
								请填写商品详情
							    </script>
							    <!-- 实例化编辑器 -->
							    <script type="text/javascript">
							        var ue = UE.getEditor('container',{
							        		'initialFrameHeight':360,
							        		// 'initialContent':'在这里你可以布置好你商品详情的资料'
							        });
							    </script>
							</div>
						</div>
					</div>
					<div class="kbShopAdmin_operating">
						<div class="kbShopAdmin_restsubmit">
							<input  class="kbShopAdmin_button_eee w100 h40 tc" type="reset" value="好的" />
							<input  class="w100 h40 kbShopAdmin_opt bc" type="submit" value="保存" />
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="kbShopAdmin_alert visitorList_alert">
		<div class="kbShopAdmin_alertBox">
			<button type="button" class="kbShopAdmin_alert-close "></button>
				<h3 >个人资料</h3>
			<form action="" method="post" enctype="multipart/form-data">
				<div class="formDate" >
				<ul class="mt20"  id="visitorList_alert" >
					<li class="kbShopAdmin_enter" >
						<b>微信呢称:</b>
						<p class="infoBlock">{{info.nick_name}}</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>微信ID:</b>
						<p class="infoBlock"></p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>姓名:</b>
						<p class="infoBlock">{{info.real_name}}</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>性别:</b>
						<p class="infoBlock" v-if="info.sex==='0'">女</p>
						<p class="infoBlock" v-if="info.sex==='1'">男</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>生日:</b>
						<p class="infoBlock">{{info.visitor_birthday}}</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>星座:</b>
						<p class="infoBlock"></p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>手机号码:</b>
						<p class="infoBlock">{{info.phone}}</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>邮箱:</b>
						<p class="infoBlock">{{info.email}}</p>
					</li>
					<li class="kbShopAdmin_enter" >
						<b>个人说明:</b>
						<p class="infoBlock">{{info.visitor_title}}</p>
					</li>
				</ul>
				</div>
				<div class="kbShopAdmin_operating ">
					<div class="kbShopAdmin_restsubmit">
						<input  class="kbShopAdmin_opt_7facff  HistortyInfo w80 h30 tc" visitorID="2" type="reset" value="好的" />
						<!-- <input  class="visitorInfo kbShopAdmin_opt_7facff w80 h30" type="button" value="完善资料" /> -->
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>

	<div class="kbShopAdmin_alert addClass_alert">
			<div class="kbShopAdmin_alertBox">
				<button type="button" class="kbShopAdmin_alert-close "></button>
					<h3 >添加分组</h3>
					<div class="formDate">
					<ul class="mt20">
						<form action="" method="post" enctype="multipart/form-data">
							<li class="kbShopAdmin_enter property" >
								<b>分组:</b>
								<input type="text" name="job_name" value="" />
								<p class="adminProperty">
									<button  type="button" class="addProperty kbShopAdmin_opt w80 h30 ">增加</button>
								</p>
							</li>
						</form>
					</ul>
					<ul class="bsSearchCare">	
					<volist name="jobList" id="v" >
						<li>
							<a>{{$v.job_name}}</a>
							<i class="close" jobID="{{$v.id}}">x</i>
						</li>
					</volist>
					</ul>
					</div>
					<div class="kbShopAdmin_operating ">
						<div class="kbShopAdmin_restsubmit">
							<input  class=" kbShopAdmin_opt_7facff w80 h30" type="button" value="好的" />
						</div>
					</div>
			</div>
		</div>
	</div>


	<div class="kbShopAdmin_alert selectClass_alert">
			<div class="kbShopAdmin_alertBox">
				<button type="button" class="kbShopAdmin_alert-close "></button>
					<h3 >选择分组</h3>
				<form action="{{:U('changeJob')}}" method="post" enctype="multipart/form-data">
					<div class="formDate">
					<ul class="mt20">
						<li class="kbShopAdmin_enter property" >
							<b>分组:</b>
							<select class="kbShopAdmin_slt" name="job_id">
								<option value="0">无分组</option>
								<volist name="jobList" id="v" >
									<option value="{{$v.id}}">{{$v.job_name}}</option>
								</volist>
							</select>
						</li>
					</ul>
					</div>
					<div class="kbShopAdmin_operating ">
						<div class="kbShopAdmin_restsubmit">
							<input  class="visitorInfo kbShopAdmin_opt_7facff w80 h30" type="submit" value="好的" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/x-template" id="sltClass">
		<ul class="optionsCard sltClass" >
			<volist name="jobList" id="v" >
			<li>
				<p>
					<span class="kbShopAdmin_radio">
						<input  type="radio" name="job_id" value="{{$v.id}}">
						<label><b></b></label>
					</span>
				</p>
				<p>{{$v.job_name}}</p>
			</li>
			</volist>
		</ul>
	</script>
</block>
<block name="js_files">
	<script>
		$(function(){
			$('.kbShopAdmin_alert .kbShopAdmin_operating input[type="reset"],.addClass_alert .kbShopAdmin_restsubmit input').on('click',function(){
				$('.kbShopAdmin_alert').fadeOut();

			});
			
			$('.kbShopAdminStaffClass').on('click',function(){
				var $this=$(this),
					chtml=$('#sltClass').html(),
					sPosition=$this.position(),
					formData=new FormData(),
					staffID=$this.attr('staffID');
					$('.sltClass').remove();
					$this.after(chtml);
					$this.siblings('.sltClass').css({top:sPosition.top+28+"px",left:sPosition.left+"px"})
					
					$('.sltClass li p:nth-child(2)').click(function(){$('.sltClass').remove();})
					$('.sltClass .kbShopAdmin_radio input').on('click',function(){
						var _this=$(this),
							job_id=_this.val();
						formData.append("job_id",job_id)
						$.ajax({  
				            url: '{{:U("changeJob")}}?id='+staffID,  
				            type: 'POST',  
				            data: formData,  
				            enctype: 'multipart/form-data',
				            async: false,  
				            cache: false,  
				            contentType: false,  
				            processData: false,  
				            success: function (res) {  
				            	if(res.info=="操作成功"){
				            		sTip('操作成功');
				            	}else{
				            		eTip('操作失败')
				            	}
				          		console.debug(res);
				            },  
				            error: function (returndata) {  
				                alert(returndata);  
				            }  
					     }); 
						$('.sltClass').remove();
					})
				

			})
			$('.kbShopAdmin_add').on('click',function(){
				$('.addClass_alert').fadeIn();
				$('.bsSearchCare .close').on('click',function(){
					var $this=$(this);
						$this.parents('li').remove(),
						saffId=$this.attr('jobid');
					$.get('{{:U("Staff/ajaxControl")}}',{
						flag: 'delJob',
						id : saffId
					},function(res){
						console.debug(res);
						if(res){
							sTip('操场成功');
						}else{
							eTip('操作失败')
						}
					})
				})
				$('.addClass_alert .addProperty ').on('click',function(){
					var $this=$(this),
						isNull=$this.parent().siblings('input[name]'),
						url="{{:U('insertJob')}}",
						formData=new FormData();

					if(isNull.val().length==0){	
					
						isNull.attr('placeholder',"请先输入分组名字");
					
					}else{
						formData.append("job_name",isNull.val());
						$.ajax({  
				            url: url,  
				            type: 'POST',  
				            data: formData,  
				            enctype: 'multipart/form-data',
				            async: false,  
				            cache: false,  
				            contentType: false,  
				            processData: false,  
				            success: function (res) {  
				            	if(res.info=="添加成功"){
				            		sTip('操作成功');
				            	var Html="<li><a>"+isNull.val()+"</a>"+"</li>";
    								$('.addClass_alert .bsSearchCare').prepend(Html);
				            	}else{
				            		eTip('操作失败')
				            	}
				          		console.debug(res);
				            },  
				            error: function (returndata) {  
				                alert(returndata);  
				            }  
					     });
						
					}
				})
			})
			$('.kbShopAdminDel,.kbShopAdmin_pushBtn input').on('click',function(){
				var $this=$(this),
					id =$this.parents('tr').children('td').eq(0).children('p').text().trim(),
					 oStatus;
				if($this.hasClass('kbShopAdminDel')){
					Confirm("确定进行该删除操作吗？",function(res){
						if(res){
							operatingJob("-1",function(result){
								console.debug(result);
								if(result){
									$this.parents('tr').remove();
								};
							})
								
							
						}
					})
				}else{
					oStatus=$this.is(':checked')? 0:1
					operatingJob(oStatus);
				}
				function operatingJob(status,callback){
					callback ? callback:"callback";
					$.get('{{:U("Staff/ajaxControl")}}',{
						flag:"del",
						id :id,
						status:status
					},function(res){
						console.log(res);
						if(res){
							sTip("操作成功");
							callback(true);
						}else{
							eTip("操作失败");
						}
						// console.log(app.$el);
					})
				}
			});
			
			(function(){
				// saffInfo
				var app=new Vue({
					el:"#saffInfo",
					data:{
						info:{}
					}
				})
				$('.kbShopAdminStaffupdate').on('click',function(){
					var id = $(this).attr('staffID');
					$('.addInfo_alert form').attr('action', "{{:U('staffUpdate')}}?id="+id);
					$.get("{{:U('ajaxControl')}}",{flag:'staffInfo', id:id},function(res){
						app.info=res;	
						UE.getEditor('container').setContent(res.introduce);
					})
					$('.addInfo_alert').fadeIn();
					$('#saffInfo .kbShopAdmin_fileImg input[type=file]').on('change',function(){

						var $this=$(this),
							imgID=$this.attr('id'),
							imgFiles=document.getElementById(imgID).files;
						var keys=Object.keys(imgFiles);
						keys.map(function(elem,indexs){
							if(!/image\/\w+/.test(imgFiles[elem].type)){ 
							  Alert("请确保文件为图像类型"); 
							  $('[type="submit"]').attr("disabled",true);
							    return false; 
							} 
							console.log(imgFiles[elem])
					  		var reader = new FileReader(); 
					  		reader.readAsDataURL(imgFiles[elem]); 
					  		reader.onload = function(e){
					  			var imgHtml='<div class="shopImg businessFileImgList"><img src="'+this.result+'" alt=""></div>'
					  		  		$this.before(imgHtml);
				  		     		/* if($this.prop("multiple")){
					  		   			console.log($this.siblings('.businessFileImgList'));
					  		   			if($this.siblings('.businessFileImgList').length>=5){
					  		   				$this.hide();
					  		   				$this.next('label').hide();
					  		   			}else{
					  		   				$this.show();
					  		   				$this.next('label').show();
					  		   			}
					  		   		}else{
					  		   			if($this.siblings('.businessFileImgList').length>=1){
					  		   				$this.hide();
					  		   				$this.next('label').hide();
					  		   			}else{
					  		   				$this.show();
					  		   				$this.next('label').show();
					  		   			}
					  		   		} */
					  		} 

					  		
						})
						
					})
				});
			})()

		});

		(function(){
			var app =new Vue({
				el:'#visitorList_alert',
				data:{
					info:{}
				}
			})
			$('.kbShopAdminSea').on('click',function(){
				var $this=$(this),
					visitor_id=$this.parents('tr').attr('data-id').trim();
				$.get('{{:U("VisitorInfo/ajaxControl")}}',{
					flag:"visitorInfo",
					visitor_id:visitor_id
				},function(res){
					app.info=res;
					// console.log(app.$el);
				})
				$('.visitorList_alert').fadeIn();
				/* $('.visitorList_alert .visitorInfo ').on('click',function(){
					$('.visitorList_alert').fadeOut();
					$('.addInfo_alert').fadeIn();
				}) */
			})
		})()
	</script>

</block>