#key{
	display: none;
}
.pass {
	font-size: 35px;
	text-align: center;
	/*width: 15%;*/
	height: 40px;
	line-height: 100%;
	/*float: left;*/
	margin-left: 1%;
	border:1px solid #ccc;
	padding:0;
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	display: block;
}
.pass_right{
	/*border-right:1px solid;*/
}
.btn_number{
	width:33%;
}

.btn_next {
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background: #0099FF;
}

.btn_next:hover {
	background: coral;
}

#password {
	font: 2em Verdana, Sans-Serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display:box;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	    width: 99%;
}

#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}

#keyboard li {
	float: left;
	margin:-1px 2px 2px -1px;
	width: 33%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#keyboard .tab {
	width: 33%;
}

#keyboard .cancle {
	width: 33%;
}

#keyboard .delete {
	width: 33%;
}

.on {
	display: none;
}

#keyboard li:active {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	background: #A8A8A8;
	cursor: pointer;
}
/**/
.ftc_wzsf { display:none; width: 100%; height: 100%; position: fixed; z-index: 999; top: 0; left: 0; }
.ftc_wzsf::before {
  content: '';
  display: block;
  width: 100%;
  height:100%;
  position: -1;
  background-color: rgba(0,0,0,.8);
}
.ftc_wzsf .hbbj { width: 100%; height: 100%; position: absolute; z-index: 8; background: #000; opacity: 0.4; top: 0; left: 0; }
.ftc_wzsf .srzfmm_box {    padding-bottom: 24px; position: absolute; z-index: 10; background: #f8f8f8; width: 88%; left: 50%; margin-left: -44%; top: 50px; }
.qsrzfmm_bt { font-size: 16px;overflow: hidden; }
.qsrzfmm_bt a { display: block; width: 10%; padding: 10px 0; text-align: center; }
.qsrzfmm_bt img.tx { width: 10%; padding: 10px 0; }
.qsrzfmm_bt p { width: 100%;font-size: 18px; text-align: center;}
.zfmmxx_shop { text-align: center; font-size: 12px; padding: 10px 0; overflow: hidden; }
.zfmmxx_shop .mz { font-size: 14px; float: left; width: 100%; }
.zfmmxx_shop .wxzf_price { font-size: 24px; float: left; width: 100%; }