<extend name="Common/websiteCom" />
<block name="css_file">
  <link href="__PUBLIC__/oneselfCore/oneselfCoreCSS/oneselfCore.css?t=1.0" rel="stylesheet" />
  <style>
    body{
      color:#282727;
    }
    .password{
      margin-top:32px;
    }
    .password p{
      width:250px;
      margin-left:auto;
      margin-right:auto;
      margin-top:15px;
    }
    .password p input[type="password"]{
      width:172px;
      height:44px;
      border-radius:5px;
      border:1px solid #434343;
      padding-left:8px;
    }
    .password p label{
      font-size:15px;
      font-weight:bold;
    }
    .password p:last-child{
      width:256px;
      margin-top:42px;
    }
    .password p input[type="submit"]{
      width:100%;
      border-radius:5px;
      border:none;
      background:rgba(7,100,182,1);
      color:#fff;
      height:35px;
    }
    .password p input[type="submit"]:disabled{
      background:rgba(7,100,182,0.6);
    }
     #cardCenter{
      padding-top:65px;
       margin-top:0; 
    }
  </style>
</block>
<!-- <block name="leftNav">
  <a  href="javascript:;" onclick="javascript :history.back(-1);"><img src="__PUBLIC__/oneselfCore/oneselfCoreImages/09back_icon_link_default.svg" atl="返回" /></a>
</block> -->
<block name="secondtitle">
  注册
</block>
<block name="content">
   <form class="password" action="{{:U('setPassWord')}}" method="post" enctype="multipart/form-data">
      <p>*登录账号为上一次所登记的手机号码；设置密码之后更加方便下次登录。</p>
      <p>
        <label>设置密码:</label>
        <input type="password" value="" placeholder="请输入密码" name="password" maxlength="16" /> 
      </p>
      <p>
        <label>重复密码:</label>
        <input type="password" value="" placeholder="请重复输入密码" name="repass" maxlength="16" />
      </p>
     
      <p class="bc"><input  type="submit" value="下一步" /></p>
    </form>

</block> 

