<extend name="Common/websiteCom" />

<block name="css_file" >
	<style>
		.bgGoodsDetails img {  
		 max-width: 97%; /*图片自适应宽度*/  
		}
		.bsIndex .bsGoodsPrice .other{
		    display: flex;
		    display: -webkit-flex;
		}
		.other em{
			flex-grow:1;
			-webkit-flex-grow:1;
		}
		.bsGoodsTitle{
		    text-indent: 30px;
			background-size: 38px;
			background-position-x: 5px;
		}
	</style>
</block>
<block name="header" >
<php>
	//echo('<pre>');
	//var_dump($goodsInfo);
	//exit;
</php>
   <header id="bsHeader" class="bsHeader">
		<nav>
			<a class="icon-back" href="javascript:;" onclick="javascript:history.back(-1)">
			</a>
		</nav>
		<h1>产品详情</h1>
		<nav>
			<p class="choose ">
				<input type="checkbox" {{$goodsInfo['is_collect']?'checked':''}} />
				<lable class="icon-collect"></lable>
			</p>
		</nav>
	</header>
</block>
<block name="content" >
	<section id="bsMain" class="bsIndex">
		<header id="focusWap" class="swiper-container focusWap">
		        <ul class="swiper-wrapper">
		        <foreach name="goodsInfo.goods_picture" item="v" >
		           <li class="swiper-slide bc mb10 bsBanner">
		          	<a href="javascript:;">
		          		<img src="__PUBLIC__{{$v}}" alt="大图" />
		          	</a>
		           </li>
		        </foreach>
		        </ul>
		        <div class="swiper-pagination banner-pagination mb10"></div>
			    <script>
				    $(function(){
						var swiper = new Swiper('#focusWap', {
				            autoplay:5000,//可选选项，自动滑动
				            pagination: '.swiper-pagination',
				        });
				    })
				</script>
		</header>
		<p class="bsSeparate"></p>
		<article class="bsGoodsPrice p10 ">
			<h3 class="mb10">{{$goodsInfo['goods_name']}}</h3>
			<if condition="($goodsInfo['is_promotion'] eq '1') AND ($goodsInfo['sales_start_time'] lt time()) AND ($goodsInfo['sales_end_time'] gt time())">
				<p class="mb10"><b class="c00bec5 mr10">￥{{$goodsInfo['price']*($goodsInfo['discount']/100)}}</b><em class="lineThrough">￥{{$goodsInfo['price']}}</em></p>
				<p class="mb10">距离促销结束还有: <b class="c00bec5 mr10">{{:turnDistanceTime($goodsInfo['sales_end_time'])}}</b></p>
			<else />
				<p class="mb10"><b class="c00bec5 mr10">￥{{$goodsInfo['price']}}</b></p>
			</if>
			<p class="other"><em>快递:&nbsp;&nbsp;0.00</em><em>月销:&nbsp;&nbsp;0</em><em>地点</em></p>
		</article>
		<p class="bsSeparate"></p>
		<article class="bgGoodsDetails ">
			<h1 class="pl10 pr10 bsGoodsTitle c999 mb10 icon-detail">商品详情</h1>
			{{$goodsInfo['goods_title']}}
		</article>
		<p class="bsSeparate"></p>
		<!-- <h1 class="pl10 pr10 bsGoodsTitle c999">评价详情</h1>
		<ul class="bsGoodsReviewList p10">
			<li>
				<header class="peopleInfo mb10">
					<p>
						<img src="image/1.jpg" alt="logo" />
					</p>
					<p><b>用户名字</b></p>
				</header>
				<p class="mb10">
					用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价用户评价
				</p>
				<p class="reviewImg mb10">
					<img src="image/1.jpg" alt="" />
				</p>
				<footer class="reviewOther">
					<p>2017-5-12</p>
					<p class="tc">颜色分类：自然色</p>
					<p class="tr">尺寸：320#</p>
				</footer>
			</li>
		</ul>
		<p class="tc bsReviewMore  pb10">
			<a class="copyBtn" href="javascript:;">查看更多评论</a>		
		</p> -->
		<p class="bsSeparate"></p>
		<article class="bsRecommendList pt10">
			<h2 class="tc pb10">为你推荐</h2>
			<ul class="bsList bsTogether bc">
			<volist name="goodsLike" id="v" >
				<li class="bsRecommendGoods swiper-slide">
					<a href="{{:U('goodsDetail', ['id' => $v['id'], 'companyName' => $_GET['companyName']])}}">
						<p>
							<img src="__PUBLIC__{{$v.goods_logo}}" style="height: 100px" alt="" />
						</p>
						<h3 class="mb10 Ellipsis">{{$v.goods_name}}</h3>
						<p style="padding:0 5px">
							<if condition="$v['is_promotion'] eq '1'">
		     					<span class="mb10 cRed">
									距结束：{{:turnDistanceTime($v['sales_end_time'])}}
								</span>
								<br />
								<b class=" mr10">￥{{$v['promotion_price']}}</b>
								<em class="lineThrough c999">￥{{$v['price']}}</em>
							<else />
								<b class=" mr10">￥{{$v['price']}}</b>
							</if>
							<em class="c00bec5 fr">销量{{$v.salesTotal}}</em>
						</p>
					</a>
				</li>
			</volist>
			</ul>
		</article>
		<p class="bsSeparate"></p>
	</section>


</block>

<block name="footer">
	<footer id="bsFooter" class="bsSubNav bsFooter">
		<p>
			<a href="javascript:;"></a>
			<b>客服</b>
		</p>
		<p>
			<a href="{{:U('Index/index', ['companyName' => $_GET['companyName']])}}"></a>
			<b>首页</b>
		</p>
		<p>
			<a href="{{:U('ShoppingCart/myCart',['companyName' => $_GET['companyName']])}}"></a>
			<b>购物车</b>
		</p>
		<p class="addShopCarBtn">
			加入购物车
		</p>
	</footer>
	
</block>
<block name="otherblock">
	<div class="Popout ShopCarPopout">
		<p class="popoutMask"></p>
		<section class="addShopCar popitMain" style="bottom:-256px">
			<button class="icon-close" type="button"></button>
			<form action="{{:U('ShoppingCart/insertCart', ['companyName' => $_GET['companyName']])}}" method="post">
				<header> 
					<p>
						<img src="" alt="" />
					</p>
					<article>
						<h3 class="mb10 c666">商品名字商品名字商品名字</h3>
						<p class="f18">￥99</p>
					</article>
				</header>
				<article class="mb10">
					<input type="hidden" value="1" name="goods_id" required="required"/>
					<p class="mb10 c666 attrName"><b >规格选择</b></p>
					<div class="classfiyChoose">
						
					</div>
				</article>
				<article class="mb20">
					<b class="c666 mb10	">数量选择</b>
					<p class="changeNumber">
						<input class="min" type="button" value="-"/>
						<input class="goodsNum" min="1"   type="number" value="1" name="total" />
						<input class="add" type="button" value="+"/>
					</p>
				</article>
				<footer>
					<input class="defineBtn btnColor00bec5 f16" type="submit" value="确定" />
				</footer>
			</form>
		</section>
		<script>
			$(function(){
				$('.Popout .icon-close,.Popout .popoutMask').on('click',function(){
					$('.Popout').fadeOut();
					$('.ShopCarPopout').find('.addShopCar').css('bottom','-256px');
				})
				$('.changeNumber .min').on('click',function(){
					var $this=$(this),
						goodsNum=$this.siblings('.goodsNum'),
						num=parseInt(goodsNum.val());
						if(goodsNum.val()!=1){
							goodsNum.val(num-=1)
						}
				})
				$('.changeNumber .add').on('click',function(){
					var $this=$(this),
						goodsNum=$this.siblings('.goodsNum'),	
						num=parseInt(goodsNum.val());
						goodsNum.val(num+=1)
						
				})
				$('.changeNumber .goodsNum').on('input propertychange',function(){
					var $this=$(this);
					console.log($this.val());
					
					if($this.val()<1){
						$this.val(1);
					}else if($this.val()>999){
						$this.val(999);
					}
				})
			})
		</script>
	</div>
</block>
<block name="js_file">
	<script>
		$(function(){
			$('.icon-collect').prev().on('click',function(){
				/*
					flag: collectGoods
					goods_id:int (商品id)
					status: 1/2  (  1:收藏 ,  2:取消收藏 )
				*/
				var $this=$(this),
					status=($this.prop('checked'))? 1:2;
				$.get('{{:U("Goods/ajaxControl")}}',{
					flag:'collectGoods',
					goods_id:"{{$_GET['id']}}",
					companyName:"{{$_GET['companyName']}}",
					status:status
				},function(res){
					if(res){
						sTip('操作成功');
					}else{
						eTip('操作失败');
						 $this.attr("checked",false);
					}
					console.log(res);
				})				

			})
		})
		

		$(function(){
			var url = "{{:U('Goods/ajaxControl')}}";
			var name = "{{$_GET['companyName']}}";
			$('.addShopCarBtn').on('click',function(){
				$('.ShopCarPopout').fadeIn();
				$('.ShopCarPopout').find('.addShopCar').attr('style','');
				$('.ShopCarPopout input[type="submit"]').on('click',function(){
					var classfiyChoose=$('.classfiyChoose').find('.choose input[type=radio]');
					var status=Object.keys(classfiyChoose).filter(function(elem){
							return $(classfiyChoose[elem]).prop('checked')==true;
						})
					if(status.length<=0){
						eTip("请选择属性");
						return false;
					}

				})
			})
			$('.addShopCarBtn').on('click',function () {
				var data = {
					flag:'getAttr',
					id:"{{$_GET['id']}}",
					companyName:name
				}
				$.get(url,data,function info(res){
					
					$('.addShopCar header p img').attr('src', '__PUBLIC__'+res.Info['goods_logo']);
					$('.addShopCar header article h3').text(res.Info['goods_name']);
					$('.addShopCar header article p').text('￥' + res.Info['true_price']);
					$('.addShopCar article input[type="hidden"]').val(res.Info['id']);
					var str = '';
					var attr = res.goodsAttr;
					$('.attrName b').text(attr[0].attr_name+':');
					for(var k in attr){
						var status=attr[k].inventory_total<=0? 'disabled=true':'' 
						str += '<p class="choose mr10">'
							+'<input type="radio" value="'+ attr[k].id +'" name="attribute_id" required="required" '+status+' />'
							+'<label class="roundBtn">'+ attr[k].attr_val+'</label>'
							+'<input type="hidden" class="attrPic" value="'+ attr[k].attr_pic +'"/>'
							+'<input type="hidden" class="attrPrice" value="'+ attr[k].attr_price +'"/>'
							+'</p>';

					}
					$('.classfiyChoose').html(str);
				});
			})

			$('.choose').live('click', function(){
				var pic = $(this).children('.attrPic').val();
				var price = $(this).children('.attrPrice').val();
				console.log(pic);
				$('.addShopCar header p img').attr('src', '__PUBLIC__'+$(this).children('input[type="hidden"]').val());
				if (price != '0.00') {
					$('.addShopCar header article p').text('￥' + price);
				}
			});
		});
	</script>
</block>